<%- model_class = Comment.new.class -%>
<%= render_breadcrumb [Breadcrumb.new('Statistiche', admin_statistics_path), Breadcrumb.new('Commenti')] %>
<h1><%= model_class.count -%> Commenti inseriti</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Tipo Commento</th>
      <th>Nome</th>
      <th>Birronauta</th>
      <th>Comandi</th>
    </tr>
  </thead>
  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.commentable_type + ' ' + comment.image_type.to_s %></td>
        <td><%= link_to comment.commentable.name, url_for(comment.commentable) %></td>
        <td><%= link_to comment.user.username, user_path(comment.user) %></td>
        <td>
          <%= link_to t("helpers.links.destroy"), 
                  admin_comment_path(comment), 
                  method: :delete, 
                  data: { confirm: t("helpers.links.confirm")}, 
                  class: 'btn btn-mini btn-warning' -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @comments, :renderer => BootstrapPagination::Rails %>
