<%= render_breadcrumb [Breadcrumb.new('Statistiche', admin_statistics_path), Breadcrumb.new('Visitatori')] %>

<h1>Birronauti</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Locale</th>
      <th>Birronauta</th>
      <th>Coordinate</th>
      <th>Creato il</th>
      <th>Confermato?</th>
    <tr>
  </thead>
  <tbody>
    <% for visitor in @visitors %>
      <tr>
        <td><%= link_to visitor.pub.name, pub_path(visitor.pub) %></td>
        <td>
          <% if visitor.user.present? %>
          <%= link_to visitor.user.username, user_path(visitor.user) %>
          <% else %>
          -
          <% end %>
        </td>
        <td>
          <%= "#{visitor.latitude} #{visitor.longitude}" %>
        </td>
        <td><%= "#{time_ago_in_words(visitor.created_at)} fa" %></td>
        <td><%= visitor.confirmed ? "Si" : "No" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @pubs, :renderer => BootstrapPagination::Rails %>
