<% pub_presenter = PubPresenter.create(pub, self) %>
<div class="col-md-4">
    <div class="recent-pub-box">
        <%= link_to pub_path(pub) do %>
          <%= pub_presenter.photo_tag %>
        <% end %>
        <h4><%= link_to pub_presenter.name, pub_path(pub) %></h4>
        <i class="fa fa-map-marker"></i>
        <%= pub_presenter.city_with_province %>
    </div>
</div>
