<li class="recent-event">
  <div class="row">
    <div class="col-md-4 col-xs-4">
      <% presenter = EventPresenter.create(recent_event, self) %>
      <%= link_to event_path(recent_event) do %>
        <%= presenter.photo_tag %>
      <% end %>
    </div>
    <div class="col-md-8 col-xs-8">
      <span class="text-muted">
        <i class="fa fa-calendar"></i>
        <%= presenter.when %>
      </span><br>
      <h4><%= presenter.title %></h4>
      <p><%= presenter.short_description %></p>
      <p>
        <span class="text-muted">
          <i class="fa fa-map-marker"></i>
          <%= recent_event.location %> - <%= recent_event.city %>
        </span>
      </p>
      <p>
        <%= link_to "Maggiori informazioni...", event_path(recent_event) %>
      </p>
    </div>
  </div>
</li>
