<% carousel = CarouselPresenter.new(pubs, self) %>

<div id="pubsCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <%= carousel.render_indicators('pubsCarousel') %>
    </ol>
    <div class="carousel-inner">
        <%= carousel.render_items %>
    </div>
    <a class="left carousel-control" href="#pubsCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#pubsCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>      
</div>

<%= javascript_tag do %>
  $('.carousel').carousel();
<% end %>
