<p><b>Nuove Recensioni</b></p>
<% for review in reviews %>
    <% pub = review.pub %>
    <p>
        <%= link_to pub.name, pub_path(pub) -%> - <%= pub.city %><br>
        <%= small_rating_tag(review.rating) %>
        di <%= link_to review.user.username, user_path(review.user) -%>
    </p>
<% end %>
