<% content_for :title do %><%= t('.title') -%><% end %>
<% content_for :meta_description, t('.description') %>
<div class="row">
  <div class="col-md-12">

    <% unless signed_in? %>
    <div class="jumbotron">
      <p class="big-text"><%= t('.description') %></p>
      <%= link_to "Diventa un Birronauta!", new_user_registration_path, class: 'btn btn-primary btn-lg' %>
    </div>
    <% end %>

    <div class="home-box">
      <h3>I più visti dai Birronauti</h3>
      <%= render partial: 'recent_images', locals: {pubs: @popular_pubs} %>
    </div>
    
    <div class="row">
      
      <div class="col-md-5">
        <h3>Novità dai Birronauti</h3>
        <%= render partial: 'notifications/notifications', locals: { notifications: @notifications } %>
        <div class="notifications-link text-right">
          <%= link_to "Vedi tutte le novità", notifications_path %>
          <%= link_to "&raquo;".html_safe, notifications_path %>
        </div>
        <div class="clearfix"></div>
      </div>

      <div class="col-md-7">
        <div class="home-box">
          <h3>Eventi da non perdere</h3>
          <ul class="list-unstyled">
            <%= render partial: 'recent_event', collection: @recent_events, spacer_template: "activity_separator" %>
          </ul>
          <%= link_to "Vedi tutti gli eventi", events_path, class: 'pull-right' %>
          <div class="clearfix"></div>
        </div>
        <div class="cloud-box">
          <h3>Birrerie nella tua città</h3>
          <%= render partial: 'pubs/cloud' %>
        </div>
        <div class="home-box">

          <h3>Nuove Segnalazioni</h3>
          <% @recent_pubs.in_groups_of(3, false) do |pubs| %>
            <div class="row">
              <%= render partial: 'pub', collection: pubs %>
            </div>
          <% end %>
          <%= link_to "Vedi tutte le Birrerie", pubs_path, class: 'pull-right' %>
          <div class="clearfix"></div>

        </div>

        <div class="cloud-box">
          <h3>Birrerie nel mondo</h3>
          <%= render partial: 'pubs/world_cloud' %>
        </div>

        <div class="facebook-box">
          <%= render partial: 'shared/facebook_with_photos' %>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-md-8">
      </div>
      <div class="col-md-4">
      </div>
    </div>

  </div>
</div>
