<% content_for :dynamic_javascripts do %>
  <script src='https://www.google.com/recaptcha/api.js'></script>
<% end %>

<h1>Aggiorna i dati <%= @pub.name %></h1>
<p>Le modifiche verranno confermate entro pochi giorni dallo staff di <%= t('site_name') %>.</p>

<%= simple_form_for(@changes, url: send_changes_pubs_path) do |f| %>
  <%= f.hidden_field :pub_id, value: @pub.id %>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :name %>
      <%= f.input :full_address %>
      <%= f.input :coordinates %>
      <%= f.input :phone %>
      <%= f.input :pub_email %>
      <%= f.input :website %>
      <%= f.input :closing_days, as: :closing_days %>
      <%= f.input :description, as: :text, input_html: {rows: "12"} %>
      <%= f.label :pub_type %>
      <%= f.collection_radio_buttons :pub_type, ["Birreria", "Microbirrificio", "Brewpub"], :to_s, :to_s, item_wrapper_class: 'radio' %>
      <%= f.input :user_email %>
      <%= f.input :closed, as: :boolean, label: false, inline_label: true %>
      <%= f.input :duplicated, as: :boolean, label: false, inline_label: true %>
      <%= f.input :note, as: :text, input_html: {rows: "6"} %>
    </div>
  </div>
  <div class="g-recaptcha" data-sitekey="6Lc6xAoTAAAAAEF4P-qGOzkrUTTsdb8RJw-07JBv"></div>
  <%= f.submit t('helpers.links.send_changes'), class: 'btn btn-primary' %>
  <%= link_to "Annulla", pub_path(@pub), class: 'btn' %>
<% end %>
