<%= render_breadcrumb [Breadcrumb.new('Statistiche', admin_statistics_path), Breadcrumb.new('Eventi')] %>
<h1>Eventi</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= Event.human_attribute_name(:start_date) %></th>
      <th><%= Event.human_attribute_name(:end_date) %></th>
      <th><%= Event.human_attribute_name(:title) %></th>
      <th><%= Event.human_attribute_name(:description) %></th>
      <th>Locale</th>
      <th>Comandi</th>
    </tr>
  </thead>
  <tbody>
    <% for event in @events %>
      <tr>
        <td><%= l event.start_date, format: :long %></td>
        <td><%= l event.end_date, format: :long %></td>
        <td><%= link_to event.title, event_path(event) %></td>
        <td><%= event.description %></td>
        <td><%= event.location %></td>
        <td>
          <%= link_to t("helpers.links.destroy"), 
                  admin_event_path(event), 
                  method: :delete, 
                  data: { confirm: t("helpers.links.confirm")}, 
                  class: 'btn btn-mini btn-warning' -%>
        </td>
        <td>
          <%= link_to t("helpers.links.edit"),
                url_for([:edit, :admin, event]),
                class: 'btn btn-mini' -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>