
<div class="row">
  <div class="col-md-6">
    <h1>Modifica Profilo</h1>
    <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
      <%= f.error_notification %>

      <%= f.input :email, :required => true, :autofocus => true %>
      <%= f.input :username %>
      <%= f.input :city, input_html: {autocomplete: "off"}, hint: 'Esempio: Alba, Cuneo, Piemonte' %>
      
      <%= f.button :submit, "Salva" %>
    <% end %>
  </div>
  <div class="col-md-6">
    <% presenter = UserPresenter.new(resource, self) %>
    <%= presenter.photo_tag %>
    <%= presenter.render_select_avatar %>
  </div>
</div>

<script type="text/javascript">
  autocompletePlace("#user_city", <%= render_cities %>);
</script>