<div class="page-title">
  <h2>Iscriviti e diventa un Birronauta!</h2>
  <p>
    Un Birronauta può segnalare locali, eventi, feste della birra, birre artigianali e recensire i suoi posti preferiti
  </p>
</div>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= render 'shared/error_messages', f: f %>
  <div class="row">
    <div class="col-md-4">
      <%= f.input :username, :required => true, :autofocus => true %>
      <%= f.input :email, :required => true %>
      <%= f.input :password, :required => true %>
      <%= f.input :password_confirmation, :required => true %>
      <%= f.input :city, input_html: {autocomplete: "off"}, hint: 'Esempio: Alba, Cuneo, Piemonte' %>
    </div>
  </div>
    <%= f.input :privacy_policy_accepted, label: false, 
      inline_label: "Accetto tutti i termini e le condizioni del regolamento e della #{link_to("disciplina sulla privacy", privacy_informations_path, target: "_blank")}".html_safe %>
  <%= f.button :submit, t('helpers.links.sign_up'), class: 'btn btn-primary' %>
<% end %>

<div class="registration-links">
  <%= render :partial => "devise/shared/links" %>
</div>

<script type="text/javascript">
  autocompletePlace("#user_city", <%= render_cities %>);
</script>