<%= simple_form_for(event, options) do |f| %>
  <%= render 'shared/error_messages', f: f %>

  <%= f.hidden_field :pub_id %>
  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :type %>

  <div class="row">
    <div class="col-md-4">
      <%= f.input :start_date, as: :date_picker  %>
      <%= f.input :end_date, as: :date_picker %>
      <%= f.input :title %>
      <%= f.input :description, input_html: {rows: "6"} %>
      <%= f.input :website, hint: "Inserisci l'indirizzo completo es: http://www.esempio.it (facoltativo)" %>
    </div>
  </div>

  <%= f.submit t('helpers.links.save'), class: 'btn btn-primary' %>
<% end %>