<% content_for :title, "Segnalazione evento #{@event.pub.name} #{@event.pub.city}" %>
<h1>Segnalazione evento <%= @event.pub.name -%> <%= @event.pub.city %></h1>
<%= render partial: 'event_form', locals: {event: @event, options: {url: {action: 'create'}}} %>