<%= form_tag(upload_comments_url(id: commentable_id, type: commentable_type), multipart: true, id: 'upload_pub_cover_form') do %>
  <div class="invisible">
    <%= file_field_tag(:cover_file) %>
    <%= submit_tag 'Carica la foto' %>
  </div>
  <a onclick="$('#cover_file').click();" class="btn btn-default btn-cover">
    <i class="fa fa-picture-o"></i><br> 
    Carica foto
  </a> 
<% end %>

<script type="text/javascript">
  $('#cover_file').change(function() {
    if (validateImageFile(this)) {
      $('.fa-spinner').css("display", "inline-block");
      $('#upload_pub_cover_form').submit();
    }
  });
</script>