<p>
  <%= link_to 'Condividi su Facebook', '#', id: comment.link_id %>
  <%= link_to t("helpers.links.destroy"), comment_path(comment.model), 
        method: :delete, 
        data: { confirm: t("helpers.links.confirm")},
        class: 'pull-right' %>
</p>

<script type="text/javascript">
  $('#<%= comment.link_id %>').click(function() {
    FB.ui(
      {
        method: 'feed',
        name: '<%= comment.share_message %>',
        link: '<%= comment.pub_url %>',
        picture: '<%= comment.sharing_image_url %>',
        description: 'Clicca sul link per andare alla pagina del locale su <%= t("site_name") %>'
      },
      function(response) {
        if (response && response.post_id) {
          alert('Il commento è stato condiviso sulla tua pagina facebook');
        } else {
          alert("C'è stato un problema nella condivisione del commento. Controlla il tuo accesso a facebook");
        }
      }
    );
    }
  );
</script>
