<div class="delete-cover">
        <%= link_to t("helpers.links.destroy_image"), 
                comment_path(comment), 
                method: :delete, 
                data: { confirm: t("helpers.links.confirm")} %>
</div>
