<div class="user_comment_form">
<%= form_tag(upload_user_comment_comments_url(id: user.id), multipart: true) do %>
<%= text_area_tag :user_comment_content, nil, placeholder: message %>
<div class="invisible">
    <%= file_field_tag :user_comment_image_file, :onchange =>"validateImageFile(this);" %>
</div>
    <p>
      <i class="fa fa-picture-o"></i>
      <a onclick="$('#user_comment_image_file').click();">Carica una foto</a>
    </p>
    <p id="filename"></p>
    <%= submit_tag 'Pubblica', class: 'btn btn-primary' %>
  <% end %>
</div>

<script type="text/javascript">
$("#user_comment_content").focus(function() {
    $("#user_comment_content").animate(
            {"height": "120px"},
            "fast");
});
$('#user_comment_image_file').change(function() {
    $('#filename').text($(this).val());
})
</script>