<div class="comment_form">
  <%= form_tag(upload_comment_comments_url(id: @pub.id), multipart: true) do %>
    <%= text_area_tag :comment_content, nil, placeholder: 'Lascia un commento per i Birronauti' %>
    <div class="invisible">
        <%= file_field_tag :comment_image_file, :onchange =>"validateImageFile(this);" %>
    </div>
    <div class="comment-load-photo">
      <i class="fa fa-picture-o"></i> 
      <a onclick="$('#comment_image_file').click();">Carica una foto</a>
    </div>
    <p id="filename"></p>
    <%= submit_tag 'Pubblica', class: 'btn btn-primary' %>
  <% end %>
</div>

<script type="text/javascript">
$("#comment_content").focus(function() {
    $("#comment_content").animate(
            {"height": "120px"},
            "fast");
});
$('#comment_image_file').change(function() {
    $('#filename').text($(this).val());
})
</script>