<h4>Birre Artigianali</h4>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= Beer.human_attribute_name(:name) -%></th>
      <th>Prodotta da</th>
      <th><%= Beer.human_attribute_name(:alcohol_by_volume) -%></th>
      <th><%= Beer.human_attribute_name(:color) -%></th>
      <th>Giudizio</th>
    </tr>
  </thead>
  <tbody>
    <% for beer in @beers.map {|beer| BeerPresenter.new(beer, self)} %>
      <tr>
        <td><%= link_to beer.name, beer_path(beer.model) -%></td>
        <td><%= link_to beer.pub.name, pub_path(beer.pub) -%></td>
        <td><%= beer.alcohol_by_volume -%></td>
        <td><%= beer.color -%></td>
        <td><%= small_rating_tag beer.rating %></td>
      </tr>
    <% end %>
  </tbody>
</table>