<h4>Birrerie, Brewpub e Microbirrifici</h4>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= Pub.human_attribute_name(:name) %></th>
      <th><%= Pub.human_attribute_name(:city) %></th>
      <th><%= Pub.human_attribute_name(:pub_type) %></th>
      <th><%= Pub.human_attribute_name(:rating) %></th>
    </tr>
  </thead>
  <tbody>
    <% pubs.each do |pub| %>
      <tr>
        <td><%= link_to pub.name, pub_path(pub) %></td>
        <td><%= pub.city_with_province -%></td>
        <td><%= pub.pub_type -%></td>
        <td><%= small_rating_tag pub.rating %></td>
      </tr>
    <% end %>
  </tbody>
</table>