<%= render_breadcrumb(@search_text) %>
<div class="page-title">
  <h1>Risultati per "<%= @search_text -%>"</h1>
</div>
<% presenter = SearchPresenter.new(@beers, @pubs) %>
<%= presenter.render(self) %>
<%= presenter.render_add_pub_invitation(self) %>
<%= link_to t("helpers.links.add_pub"), new_pub_path, :class => 'btn btn-primary' %>