<%= link_to user_omniauth_authorize_path(:facebook) do %>
  <%= image_tag 'facebook.png', alt: t('helpers.links.sing_up_with_facebook'), title: t('helpers.links.sing_up_with_facebook') %>
<% end %>
<%= link_to "Accedi tramite facebook", user_omniauth_authorize_path(:facebook) %><br />
