<div class="panel">
  <div class="panel-heading">
    <a data-toggle="collapse" data-parent="#review_accordion" href="#<%= accordion.id %>">
      <%= accordion.title -%>
    </a>
  </div>
  <div id="<%= accordion.id -%>" class="panel-collapse collapse <%= "in" if accordion.active? %>">
    <div class="panel-body">
      <p>
        <%= accordion.description %><br>
        <span class="text-muted">Clicca su un termine qui sotto per aggiungerlo.</span>
      </p>
      <% for section in accordion.sections %>
        <p>
          <%= section.name -%><br>
          <% for element in section.values %>
            <%= link_to element.first, "#", "data-value" => element.second %>
          <% end %>
        </p>
      <% end %>
    </div>
  </div>
</div>

<%= javascript_tag do %>
  linkAccordionToField("<%= accordion.id -%>", "<%= accordion.field_id -%>", "<%= accordion.tags_id -%>");
<% end %>
