<div class="page-title">
  <h1><%= "Recensione della birra #{@review.beer.name}" -%></h1>
</div>
<%= simple_form_for(@review) do |f| %>
  <%= render 'shared/error_messages', f: f %>
  <div class="row">
    <div class="col-md-5">
      <%= f.hidden_field :beer_id %>
      <%= f.hidden_field :user_id %>

      <div class="tags">
        <%= f.label :appearance %>
        <ul id="appearance_tags" class="list-inline"></ul>
        <%= f.hidden_field :appearance %>
      </div>
      
      <div class="tags">
        <%= f.label :aroma %>
        <ul id="aroma_tags" class="list-inline"></ul>
        <%= f.hidden_field :aroma %>
      </div>
      
      <div class="tags">
        <%= f.label :taste %>
        <ul id="taste_tags" class="list-inline"></ul>
        <%= f.hidden_field :taste %>
      </div>
      
      <div class="tags">
        <%= f.label :palate %>
        <ul id="palate_tags" class="list-inline"></ul>
        <%= f.hidden_field :palate %>
      </div>
      
      <%= f.input :rating, as: :rating %>
      <%= f.input :content, as: :text, input_html: {rows: "4"}, placeholder: 'Contenuto della recensione (opzionale)' %>
    </div>

    <div class="col-md-6">
      <%= render partial: "sensory_analysis" %>
    </div>
  </div>
  <%= f.submit t('helpers.links.save'), class: 'btn btn-primary' %>
<% end %>