<%= simple_form_for(event, options) do |f| %>
  <%= render 'shared/error_messages', f: f %>

  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :type %>
  <div class="row">
    <div class="col-md-4">
      <%= f.input :start_date, as: :date_picker %>
      <%= f.input :end_date, as: :date_picker %>
      <%= f.input :title %>
      <%= f.input :description, input_html: { rows: "6" }, placeholder: "Breve descrizione dell'evento" %>
      <%= f.input :website, hint: "Inserisci l'indirizzo completo es: http://www.esempio.it (facoltativo)" %>
      <%= f.input :location, hint: "Es: Padova Fiera, Stazione Leopolda" %>
      <%= f.input :address %>
      <%= f.input :city, input_html: {autocomplete: "off"} %>
      <%= f.input :province %>
      <%= f.input :region %>
      <%= f.input :postcode %>
    </div>
  </div>

  <%= f.submit t('helpers.links.save'), class: 'btn btn-primary' %>
<% end %>

<script type="text/javascript">
  autocompletePlace('#public_event_city', <%= render_cities %>, updateProvinceAndRegion)

  function updateProvinceAndRegion(item) {
    var place = parsePlace(item);
    $("#public_event_province").val(place.province);
    $("#public_event_region").val(place.region);
    $("#public_event_postcode").focus();
    return place.city;
  }
</script>