<% content_for :title, "Segnalazione evento in luogo pubblico" %>
<div class="page-title">
  <h1>Segnalazione evento in luogo pubblico</h1>
  <p>Stai segnalando un <b>evento</b> o una <b>festa della birra</b> che si svolge in un luogo pubblico, 
    come ad esempio: Piazza Duomo, Padova Fiera, Stazione Leopolda.
  </p>
</div>
<%= render partial: 'public_events/public_event_form', locals: {event: @event, options: {url: {action: 'create'}}} %>