<% content_for :title, 'Homebrewer - Preiscriviti al primo social network italiano degli homebrewer' %>
<%= render_breadcrumb('Homebrewer') %>

<h1>Homebrewer</h1>
<p>In Italia gli homebrewer, ovvero coloro che producono la birra in casa, sono sempre più numerosi e agguerriti. 
  Tanti gli stili e tantissime le ricette con cui si cimentano gli appassionati homebrewer italici.
</p>
<p>
  Se anche tu fai parte di questo meraviglioso mondo o vuoi entrarne a far parte, il primo passo da compiere è di preiscriverti.
</p>

<div class="row">
  <div class="col-md-6">

    <div class="pre-register">
      <h3>Preiscriviti</h3>
      <p>Ti fai la birra in casa? Vuoi condividere la tua passione con gli altri Birronauti?
          Preiscriviti subito al <strong>primo social network dedicato agli homebrewer italiani!</strong> I posti sono limitati!
      </p>

      <% if signed_in? %>
        <%= simple_form_for(@pre_registration) do |f| %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.submit "Preiscriviti", class: 'btn btn-primary' %>
        <% end %>
      <% else %>
        <%= link_to t('helpers.links.login'), new_user_session_path, class: 'btn' %>
      <% end %>

    </div>
    
  </div>
  <div class="col-md-6">
    <div class="invite-friend">
      <h3>Invita un amico</h3>
      <p>Hai un amico che si fa la birra in casa? Invitalo a preiscriversi al <strong>primo social network dedicato agli homebrewer italiani!</strong></p>
      
      <% if signed_in? %>
        <%= simple_form_for(@invitation, :url => invite_homebrewers_path, :html => { :method => :post }) do |f| %>
          <%= render 'shared/error_messages', f: f %>
          <%= f.input :email %>
          <%= f.submit "Invita", class: 'btn btn-primary' %>
        <% end %>
      <% else %>
        <%= link_to t('helpers.links.login'), new_user_session_path, class: 'btn' %>
      <% end %>
    
    </div>
  </div>
</div>