<% content_for :title, "Amministrazione Recensioni" %>
<%= render_breadcrumb [Breadcrumb.new('Statistiche', admin_statistics_path), Breadcrumb.new('Recensioni')] %>
<h1>Amministrazione Recensioni - <%= t('review', count: @reviews.size) %></h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= Review.human_attribute_name(:date) %></th>
      <th><%= Review.human_attribute_name(:description) %></th>
      <th>Locale</th>
      <th>Inserita da</th>
    </tr>
  </thead>
  <tbody>
    <% for review in @reviews %>
    <tr>
      <td><%= l review.date, format: :long %></td>
      <td><%= render_description(review.description) %></td>
      <td><%= link_to review.pub.name, pub_path(review.pub) %></td>
      <td><%= link_to review.user.username, user_path(review.user) %></td>
      <td>
      <%= link_to t("helpers.links.destroy"), 
            admin_review_path(review), 
            method: :delete, 
            data: { confirm: t("helpers.links.confirm")}, 
            class: 'btn btn-mini btn-warning' -%>
      </td>
      <td>
          <%= link_to t("helpers.links.edit"),
                edit_admin_review_path(review),
                class: 'btn btn-mini' -%>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>