<%= render_breadcrumb [Breadcrumb.new('Statistiche', admin_statistics_path), Breadcrumb.new('Pre registrazioni')] %>
<h1><%= PreRegistration.count %> Preregistrazioni</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <% @pre_registrations.each do |pre_registration| %>
      <tr>
        <td><%= link_to pre_registration.user.username, user_path(pre_registration.user) %></td>
        <td><%= pre_registration.user.email %></td>
        <td>
          <%= link_to t("helpers.links.destroy"), 
                  admin_pre_registration_path(pre_registration), 
                  method: :delete, 
                  data: { confirm: t("helpers.links.confirm")}, 
                  class: 'btn btn-mini btn-warning' -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>