<% content_for :title, "Segnalazione evento in luogo pubblico" %>
<h1>Segnalazione evento in luogo pubblico</h1>
<%= render partial: 'public_events/public_event_form', locals: {event: @event, options: {url: {action: 'create'}}} %>