<p>
  <%= link_to notification.user.username, notification.user %> 
  ha segnalato
  <%= link_to notification.pub.name, notification.pub %>
</p>
<p class="text-muted">
  <i class="fa fa-map-marker"></i>&nbsp;<%= notification.pub.city_with_province %>
</p>
