<% presenter = EventPresenter.create(notification.event, self) %>
<p>
<%= link_to notification.user.username, notification.user %>
ha segnalato l'evento
<%= link_to notification.event.title, notification.event %>
</p>
<p class="text-muted">
  <i class="fa fa-calendar"></i>&nbsp;<%= presenter.when -%>
</p>
<p class="text-muted">
  <i class="fa fa-map-marker"></i>&nbsp;<%= presenter.location %> - <%= presenter.city %>
</p>

