<% notifications.each do |notification| %>
  <div class="notification-box">
    <div class="row">
      <div class="col-md-3 col-xs-3">
        <%= UserPresenter.new(notification.user, self).render_small_avatar %>
      </div>
      <div class="col-md-9 col-xs-9">
        <div class="notification-message">
          
          <% if notification.notification_type == 'approval' %>
            <%= render partial: 'notifications/approval', locals: { notification: notification } %>
          <% end %>

          <% if notification.notification_type == 'review' %>
            <%= render partial: 'notifications/review', locals: { notification: notification } %>
          <% end %>

          <% if notification.notification_type == 'pub_comment' %>
            <%= render partial: 'notifications/pub_comment', locals: { notification: notification } %>
          <% end %>
          
          <% if notification.notification_type == 'user_comment' %>
            <%= render partial: 'notifications/user_comment', locals: { notification: notification } %>
          <% end %>

          <% if notification.notification_type == 'user_registration' %>
            <%= link_to notification.user.username, notification.user %> 
            è diventato un Birronauta!
          <% end %>

          <% if notification.notification_type == 'event' %>
            <%= render partial: 'notifications/event', locals: { notification: notification } %>
          <% end %>
          
          <% if notification.notification_type == 'beer' %>
            <%= link_to notification.user.username, notification.user %>
            ha segnalato la birra
            <%= link_to notification.beer.name, notification.beer %>
            del birrificio
            <%= link_to notification.pub.name, notification.pub %>
          <% end %>
          
          <% if notification.notification_type == 'beer_review' %>
            <%= link_to notification.user.username, notification.user %>
            ha recensito la birra
            <%= link_to notification.beer.name, notification.beer %>
          <% end %>

        </div>
        
        <p class="notification-time"><%= time_ago_in_words(notification.created_at) %></p>

      </div>
    </div>
  </div>
<% end %>
