<%= link_to notification.user.username, notification.user %> 
<span class="text-muted">ha commentato</span> 
<%= link_to notification.pub.name, notification.pub %>.

<% if notification.comment.content.present? %>
  <hr>
  <p>
    <%= notification.comment.content %>
  </p>
<% end %>

<div class="notification-picture">
  <% presenter = CommentPresenter.new(notification.comment, self) %>
  <%= presenter.render_image %>
</div>