<%= link_to notification.user.username, notification.user %> 
<% if notification.comment.commentable == notification.user %>
  <span class="text-muted">ha condiviso un commento sul suo profilo</span>
<% else %>
  <span class="text-muted">ha commentato il profilo</span>
  <%= link_to notification.comment.commentable.username, notification.comment.commentable %>.
<% end %>

<% if notification.comment.content.present? %>
  <hr>
  <p>
    <%= notification.comment.content %>
  </p>
<% end %>

<div class="notification-picture">
  <% presenter = CommentPresenter.new(notification.comment, self) %>
  <%= presenter.render_image %>
</div>