<div class="row">
  <div class="col-md-12">
    <h1>Novità dai Birronauti</h1>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">  
        <%= render partial: 'notifications', locals: { notifications: @notifications } %>      
      </div>
    </div>
    <%= will_paginate @notifications, :renderer => BootstrapPagination::Rails %>
  </div>
</div>