<p><%= review.user.username %> ha recensito la birra <%= link_to review.beer.name, beer_path(review.beer) %></p>
<%= link_to beer_path(review.beer) do %>
  <%= BeerPresenter.new(review.beer, self).photo_tag %>
<% end %>
