<% presenter = CommentPresenter.new(comment, self) %>
<p><%= comment.user.username %> 
  ha commentato <%= link_to comment.commentable.name, url_for(comment.commentable) %></p>
<p><%= comment.content %></p>
<%= presenter.render_image %>
