<p><%= event.user.username %> ha segnalato l'evento <%= link_to event.title, event_path(event) %></p>
<% presenter = EventPresenter.create(event, self) %>
<%= link_to event_path(event) do %>
  <%= presenter.photo_tag %>
<% end %>
<p><i class="fa fa-map-marker"></i> <%= presenter.render_full_address %></p>
<p><i class="fa fa-calendar"></i> <%= presenter.when -%></p>
