<% presenter = PubPresenter.create(pub, self) %>
<p><%= pub.user.username %> ha segnalato <%= link_to pub.name, pub_path(pub) %></p>
<%= link_to pub_path(pub) do %>
  <%= presenter.photo_tag %>
<% end %>
<p><i class="fa fa-map-marker"></i> <%= pub.full_address %></p>
