<p><%= review.user.username %> ha recensito <%= link_to review.pub.name, pub_path(review.pub) %></p>
<% presenter = PubPresenter.create(review.pub, self) %>
<%= link_to pub_path(review.pub) do %>
  <%= presenter.photo_tag %>
<% end %>
<p><i class="fa fa-map-marker"></i> <%= review.pub.full_address %></p>
