<%= form_tag(upload_avatar_comments_path(id: @user.id), multipart: true, id: 'edit_avatar_form') do %>
  <%= file_field_tag(:cover_file) %>
  <%= submit_tag 'Carica la foto' %>
  <p>
    <i class="fa fa-picture-o"></i> 
    <a onclick="$('#cover_file').click();">Cambia foto</a> 
    <i class="fa fa-spinner fa-spin"></i>
  </p>
<% end %>

<script type="text/javascript">
  $('#cover_file').change(function() {
    if (validateImageFile(this)) {
      $('.fa-spinner').css("display", "inline-block");
      $('#edit_avatar_form').submit();
    }
  });
</script>