<% users.in_groups_of(3, false).each do |group| %>
  <div class="row">
    <% group.each do |user| %>
      <div class="user col-md-4">
        <%= render partial: 'user', locals: {user: UserPresenter.new(user, self)} %>
      </div>
    <% end %>
  </div>
<% end %>

<%= will_paginate users, :params => { :controller => "users", :action => "index" }, :renderer => BootstrapPagination::Rails %>
