<% presenter = CommentPresenter.new(comment, self) %>

<% if comment.user_status? %>
  <p><%= comment.commentable.username %></p>
<% else %>
  <p><%= link_to comment.user.username, user_path(comment.user) %> > <%= comment.commentable.username %></p>
<% end %>

<p><%= render_description(comment.content) %></p>
<%= presenter.render_image %>

<% if presenter.can_delete? %>
<p class="timeline-commands">
  <%= link_to t("helpers.links.destroy"), comment_path(presenter.model), 
        method: :delete, 
        data: { confirm: t("helpers.links.confirm")}
        %>
</p>
<% end %>
