<% content_for :title, 'Classifica dei Birronauti' %>
<% content_for :meta_description, 'Classifica dei Birronauti più attivi in ordine di punteggio. I punti vengono assegnati in base alle recensioni, alle segnalazioni di locali, birre, eventi e al caricamento di foto e commenti.' %>

<div class="row">
  <div class="col-md-12">

    <%= render_breadcrumb('Birronauti') %>
    <div class="titolo-birronauti">
      <h1>Birronauti</h1>
      <p>Per vedere come conquistare punti e scalare la classifica, vai alla pagina delle <%= link_to "Sfide", achievements_path %>.</p>
      <p>Gli amministratori del sito non fanno parte della classifica.</p>
    </div>

  <div class="row">
    <div class="col-md-6">
      <div class="user-search-box">
        Cerca tra gli utenti: 
        <input id="user-search" name="user-search" type="text">
        <i class="fa fa-spinner fa-spin"></i>
      </div>
    </div>
  </div>
  
  <script type="text/javascript">
    $('.fa-spinner').hide(); 

    var options = {
        callback: function(value) { userSearch(value) },
        wait: 500,
        highlight: true,
        captureLength: -1
    };

    $("#user-search").val("<%= params[:search] %>")

    $("#user-search").typeWatch( options );

    function userSearch(value) {
      var searchText = value;

      if (value.length < 3) {
        searchText = "";
      }

      $('.fa-spinner').css("display", "inline-block");

      $.ajax({
          url: "<%= search_users_path %>",
          data: {
              search: searchText,
          },
          success: function (result) {
            $('#user-browser').html(result.toString());
          },
          complete: function () {
            $('.fa-spinner').hide(); 
          }
      });      
    }
  </script>

  <div id="user-browser">
    <%= render 'users', users: @users %>
  </div>

  </div>
</div>