<% presenter = UserPresenter.new(@user, self) %>
<% content_for :title do
    "Profilo di #{@user.username}"
  end %>
<% content_for :dynamic_javascripts do %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?sensor=false" %>
<% end %>

<div class="row">
  <div class="col-md-12">
    <%= render_breadcrumb(@user.username) %>
   <h1><%= @user.username %></h1>
    <div class="row">
      <div class="col-md-6">
        
        <div class="user-info">
          <div class="avatar">
            <%= presenter.photo_tag %>
            <p><%= presenter.render_edit_profile %></p>
          </div>

          <%= presenter.render_city %>
          <p><span class="score"><%= @user.points %></span> <b><%= t("point", count: @user.points) %></b></p>
          <div class="clearfix"></div>
        </div>

      </div>
      <div class="col-md-6">
        <h4>Locali visitati</h4>
        <%= presenter.render_map %>
      </div>

    </div>
    
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-center">Attività recenti</h3>
        <ul class="list-unstyled timeline-container">
          <li class="timeline-left">
            <%= UserCommentPresenter.new(@user, self).render_new_form %>
          </li>
          <% for item in TimelinePresenter.create_events(@user) %>
            <li class="<%= cycle('timeline-right', 'timeline-left') -%>">
              <div class="timeline-item">
                <%= item.render(self) %>
                <p class="timeline-date"><%= time_ago_in_words(item.created_at) %> fa</p>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>