<%= content_for :title, "Contattaci" %>
<%= render_breadcrumb('Contattaci') %>
<div class="page-title">
	<h1>Contattaci</h1>
	<p>
		Se hai domande o proposte, contattaci, compilando il modulo seguente e ti risponderemo al più presto!
	</p>
</div>
<%= simple_form_for(@message, url: contact_us_path) do |f| %>
  <%= render 'shared/error_messages', f: f %>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :name %>
      <%= f.input :email %>
      <%= f.input :subject %>
      <%= f.input :body, as: :text, input_html: {rows: "12"} %>
      <%= f.submit t('helpers.links.send'), class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
