<h2>Modifica password</h2>

<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= f.error_notification %>
  <%= f.input :reset_password_token, :as => :hidden %>
  <%= f.full_error :reset_password_token %>
  <%= f.input :password, :label => "Nuova password", :required => true %>
  <%= f.input :password_confirmation, :label => "Conferma password", :required => true %>
  <%= f.button :submit, "Cambia password" %>
<% end %>

<%= render :partial => "devise/shared/links" %>