<h2>Hai dimenticato la password?</h2>

<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= f.error_notification %>
  <%= f.input :email, :required => true %>
  <%= f.button :submit, "Spediscimi le istruzioni per reimpostare la password" %>
<% end %>

<%= render :partial => "devise/shared/links" %>