<p>Scarica l'app gratuita</p>
<a href="https://itunes.apple.com/it/app/ilbirrone/id682437918?mt=8&uo=4" 
  target="itunes_store" 
  style="display:inline-block;overflow:hidden;background:url(http://linkmaker.itunes.apple.com/htmlResources/assets/it_it//images/web/linkmaker/badge_appstore-lrg.png) no-repeat;width:135px;height:40px;@media only screen{background-image:url(http://linkmaker.itunes.apple.com/htmlResources/assets/it_it//images/web/linkmaker/badge_appstore-lrg.svg);}" 
  onClick="trackEvent('App', 'Click');"></a>
