<%= simple_form_for(beer, options) do |f| %>
  <%= render 'shared/error_messages', f: f %>
  
  <%= f.hidden_field :pub_id %>
  <%= f.hidden_field :user_id %>
  
  <div class="row">
    <div class="col-md-4">
      <%= f.input :name %>
      <%= f.input :alcohol_by_volume, placeholder: 'Esempio: 4 oppure 6,7' %>
    </div>
  </div>
  
  <%= f.label :color %><br>
  <%= f.collection_radio_buttons :color, [
    "Bianca", "Bionda", "Aranciata", "Ambrata", "Rossa", "Scura"], :to_s, :to_s, :item_wrapper_class => 'radio-inline' %>
  
  <div class="optional_fields">
    <a href="#technical_fields" data-toggle="collapse" data-parent=".optional_fields">Dati opzionali (clicca per visualizzare)</a>
    <div id="technical_fields" class="collapse">
      
      <div class="form-group">
        <%= f.label :fermentation %><br>
        <%= f.collection_radio_buttons :fermentation, ["Alta", "Bassa"], :to_s, :to_s, :item_wrapper_class => 'radio-inline' %>
      </div>

      <div class="form-group">
        <%= f.label :family %><br>
        <%= f.collection_radio_buttons :family, ["Ale", "Lager", "Wheat", "Special"], :to_s, :to_s, :item_wrapper_class => 'radio-inline' %>
      </div>

      <div class="row">
        <div class="col-md-4">
          <%= f.input :style, collection: Beer.styles %>
          <%= f.input :beer_type, collection: Beer.types, input_html: {class: "input-xxlarge"} %>
          <%= f.input :serving_temperature, placeholder: "Esempio: 8 oppure 12-12,5" %>
          <%= f.input :description, as: :text, input_html: {rows: "4", class: "input-xxlarge"} %>
        </div>
      </div>
    </div>
  </div>

  <%= f.submit t('helpers.links.save'), class: 'btn btn-primary' %>
<% end %>
