<!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
<script type="text/javascript">
    window.cookieconsent_options = {"message":"Questo sito usa i cookie per assicurare la migliore esperienza di navigazione sul nostro sito","dismiss":"Accetta e chiudi","learnMore":"Maggiori informazioni","link":"http://www.beerky.it/informazioni/privacy","theme":"dark-bottom"};
</script>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.10/cookieconsent.min.js"></script>
<!-- End Cookie Consent plugin -->
