<%= render partial: 'shared/facebook_initialization' %>
<div id="likebox"></div>

<script type="text/javascript">
$(document).ready(function(){   
    var fbWidth;

    function attachFluidLikeBox(){
        var fbml = '<div class="fb-like-box" data-href="http://www.facebook.com/pages/IlBirrone/446032622104944" data-width="WIDTH" data-show-faces="true" data-stream="false" data-show-border="false" data-header="false"></div>'
        var container = $('#likebox');  

        if(fbWidth != container.width()){
            container.empty();
            fbWidth = container.width();
            fbml = fbml.split('WIDTH').join(fbWidth.toString());
            container.html(fbml);
            try{
                FB.XFBML.parse();
            }catch(err){
                // should Facebook's API crap out - wouldn't be the first time
            }
        }
    }

    var resizeTimeout;
    function onResize(){
        if(resizeTimeout){
            clearTimeout(resizeTimeout);
        }
        resizeTimeout = setTimeout(attachFluidLikeBox, 200);
    }

    $(window).resize(onResize);
    onResize();
});
</script>