<%= link_to "#photoDialog", "data-toggle" => "modal" do %> 
  <%= render_photo(imageable) %> 
<% end %>

<div id="photoDialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="photoDialogLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h4 id="photoDialogLabel">Foto <%= imageable.photo_description %></h4>
      </div>
      <div class="modal-body">
        <%= render_photo(imageable) %>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Chiudi</button>
      </div>
    </div>
  </div>
</div>