<%= simple_form_for(pub, options) do |f| %>
  <%= render 'shared/error_messages', f: f %>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :country, include_blank: false, collection: Place.countries %>
      <%= f.input :name, hint: t('pubs.new.italy.name') %>
      <%= f.input :address, hint: t('pubs.new.italy.address') %>
      <%= f.input :city, input_html: {autocomplete: "off"}, hint: t('pubs.new.italy.city') %>
      <%= f.input :province, hint: t('pubs.new.italy.province')  %>
      <%= f.input :region %>
      <%= f.input :postcode, hint: t('pubs.new.italy.postcode') %>
      <%= f.input :phone, hint: t('pubs.new.italy.phone')  %>
      <%= f.input :email %>
      <%= f.input :website %>
      <%= f.input :closing_days, as: :closing_days %>
      <%= f.input :description, as: :text, input_html: {rows: "12"}, placeholder: 'breve descrizione della birreria (facoltativa)' %>
      <%= f.label :pub_type %>
      <%= f.collection_radio_buttons :pub_type, ["Birreria", "Microbirrificio", "Brewpub"], :to_s, :to_s, item_wrapper_class: 'radio' %>
    </div>
  </div>
  <%= f.submit t('helpers.links.save'), class: 'btn btn-primary' %>
<% end %>

<script type="text/javascript">
  function onChangeCountry(country) {
    if (country == 'Italia') {
      $('.pub_name p.help-block').text( '<%= t('pubs.new.italy.name') %>' );
      $('.pub_address p.help-block').text( '<%= t('pubs.new.italy.address') %>' );
      $('.pub_city p.help-block').text( '<%= t('pubs.new.italy.city') %>' );
      $('.pub_province label').text('Provincia');
      $('.pub_province p.help-block').text( '<%= t('pubs.new.italy.province') %>' );
      $('.pub_postcode p.help-block').text( '<%= t('pubs.new.italy.postcode') %>' );
      $('.pub_phone p.help-block').text( '<%= t('pubs.new.italy.phone') %>' );
      $('.pub_region').show();
      return;
    }
    $('.pub_name p.help-block').text( '<%= t('pubs.new.foreign.name') %>' );
    $('.pub_address p.help-block').text( '<%= t('pubs.new.foreign.address') %>' );
    $('.pub_city p.help-block').text( '<%= t('pubs.new.foreign.city') %>' );
    $('.pub_province label').text('Stato');
    $('.pub_province p.help-block').text( '<%= t('pubs.new.foreign.province') %>' );
    $('.pub_postcode p.help-block').text( '<%= t('pubs.new.foreign.postcode') %>' );
    $('.pub_phone p.help-block').text( '<%= t('pubs.new.foreign.phone') %>' );
    $('.pub_region').hide();
    $('#pub_region').val('');
  }

  autocompletePubPlace(<%= render_cities %>);

  $('#pub_country').change(function() {
    onChangeCountry($(this).val());
  });

  onChangeCountry($('#pub_country').val());
</script>