<table class="table table-striped">
  <tbody>
    <% for pub in pubs %>
    <% pub = PubPresenter.new(pub, self) %>
    <tr>
      <td class="thumbnail-column">
          <div class="small-thumbnail">
            <%= link_to pub_path(pub.model) do %>
              <%= pub.photo_tag %>
            <% end %>
          </div>
      </td>
      <td>
        <%= link_to pub.name, pub_path(pub.model) %><br>
        <div><%= small_rating_tag pub.rating %></div>
      </td>
      <td>
        <%= pub.address %><br>
        <%= pub.city_with_province %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
