<script type="text/javascript">
  window.map = new google.maps.Map(document.getElementById('<%= css_id %>'), {
      mapTypeId: google.maps.MapTypeId.ROADMAP
  });

  var infowindow = new google.maps.InfoWindow();
  var bounds = new google.maps.LatLngBounds();

  <% for pub in pubs %>
      var marker = new google.maps.Marker({
          position: new google.maps.LatLng(<%= pub.latitude %>, <%= pub.longitude %>),
          icon: "<%= marker_image(pub) %>",
          map: map
      });

      bounds.extend(marker.position);

      google.maps.event.addListener(marker, 'click', (function (marker) {
        return function() {
          infowindow.setContent("<%= escape_javascript(render partial: 'pubs/map_info_window', locals: {pub: pub}) %>");
          infowindow.open(map, marker);
        }})(marker));
  <% end %>

  map.fitBounds(bounds);
</script>
