<p>
  &Egrave; tutto molto semplice! Saranno sufficienti tre passaggi:
</p>

<h4>1&ordm; Passo</h4>
<p>
  Per prima cosa, se non si è già iscritti, è necessario iscriversi al Sito <%= t('site_name') -%>, basta inserire "Nome", "email" e ”password”.
</p>
<p>
  <%= link_to "Iscriviti subito è gratis!", new_user_registration_path -%>  
</p>
<hr>

<h4>2&ordm; Passo </h4>
<p>
<%= image_tag('contest-screen-shot-search.png', class: 'image_right_aligned') -%>
Cerca con il nostro motore di ricerca (lo trovi in alto a destra su ogni pagina del sito oppure in homepage) la birra, la birreria o il brewpub sulla quale vuoi scrivere una recensione.
</p>
<div class='clearfix'></div>
<hr>

<h4>3&ordm; Passo</h4>
<p>
<%= image_tag('contest-screen-shot-write-review.png', class: 'image_right_aligned') -%>
Abbiamo quasi finito. Adesso non ti resta che cliccare sul pulsante "Scrivi la tua recensione" e lasciare libero sfogo alla tua mente.
</p>
<div class='clearfix'></div>
<hr>
