<!-- facebook -->
<%= render partial: 'shared/facebook_initialization' %>

<div class="fb-like" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true" data-action="recommend"></div>

<!-- twitter -->
<a href="https://twitter.com/share" class="twitter-share-button" data-lang="it" data-count="none">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<!-- Place this tag where you want the share button to render. -->
<div class="g-plus" data-action="share" data-annotation="none"></div>

<!-- Place this tag after the last share tag. -->
<script type="text/javascript">
  window.___gcfg = {lang: 'it'};

  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

<!-- invite friends with facebook -->
<div class="invite-friends">
  <%= link_to "Invita i tuoi amici su #{t('site_name')}", "#", class: 'btn btn-default', onclick: "sendRequestViaMultiFriendSelector(); return false;" -%>
</div>

<%= javascript_tag do %>
function sendRequestViaMultiFriendSelector() {
  FB.ui({method: 'apprequests',
    message: 'sei stato invitato su <%= t('site_name') -%> il sito sul mondo della birra, delle birrerie, dei microbirrifici e dei brewpub' 
  });
}
<% end %>