<ul class="nav nav-tabs" role="tablist">
  <% for tab in tabs %>
    <li <%= 'class="active"'.html_safe if tab.active %>>
      <a href="#<%= tab.id -%>" data-toggle="tab"><%= tab.text -%></a>
    </li>
  <% end %>
</ul>

<div class="tab-content">
  <% for tab in tabs %>
    <div class="tab-pane<%= " active" if tab.active -%>" id="<%= tab.id -%>">
      <%= render partial: tab.template, locals: tab.variables %>
    </div>
  <% end %>
</div>

