<div id="current-position"></div>

<script type="text/javascript">
  function findNearestPub(position) {
    $.ajax({
      url: "<%= nearest_pubs_path %>" + "?latitude=" +  position.coords.latitude.toString() + "&longitude=" + position.coords.longitude.toString()
      }).done(function(data) {
        $('#current-position').html(data.toString());
        });
  }

  function showError(error) {
    $('#current-position').html('Geolocalizzazione fallita.');
  }

  function unsupportedGeolocation() {
    $('#current-position').html('Il browser non supporta la geolocalizzazione.'); 
  }

  geolocate(findNearestPub, showError, unsupportedGeolocation);
</script>