<% event = EventPresenter.create(event, self) %>
<div itemscope itemtype="http://data-vocabulary.org/Event">
  <%= link_to event_path(event.model) do %>
    <%= event.photo_tag %>
  <% end %>
  <div class="caption">
    <h4>
      <span itemprop="summary"><%= event.title -%></span>
    </h4>
    <p>
      <i class="fa fa-calendar"></i>
      <%= event.when -%>
      <meta itemprop="startDate" content="<%= event.start_date -%>">
      <meta itemprop="endDate" content="<%= event.end_date -%>">
    </p>
    <p>
      <i class="fa fa-map-marker"></i>
      <%= event.location %> - <%= event.city %>
    </p>
    <p>
      <%= link_to "Maggiori informazioni...", event_path(event.model), itemprop: 'url' %>
    </p>
  </div>
</div>