<% content_for :title, "Scopri dov'è il divertimento! I prossimi eventi e feste della birra da tutta Italia" %>
<% content_for :meta_description, "Scopri dov'è il divertimento! I prossimi eventi e feste della birra da tutta Italia" %>
<div class="row">
  <div class="col-md-12">
    <%= render_breadcrumb('Eventi') %>
    <p><%= link_to "Segnala evento", select_type_events_path, class: 'btn btn-primary pull-right' %></p>
    <h1>Eventi</h1>
    <p>Scopri dov'è il divertimento! Sei a conoscenza di un <b>evento</b> o una <b>festa della birra</b> che non è ancora presente? Segnalalo cliccando sul pulsante.</p>
    <div class="row">
      <%= ThumbnailsPresenter.new(@events, self).render(3) do |event| %>
        <%= render partial: 'event', locals: {event: event} %>
      <% end %> 
    </div>
  </div>
</div>