<% content_for :title, "Segnala un evento" %>

<h1>Segnala un evento</h1>
<div class="row">
  <div class="col-md-6">
    <div class="new-event-box">
      <h3>Evento in luogo pubblico</h3>
      <p>Se vuoi segnalare un <b>evento</b> o una <b>festa della birra</b> che si svolge in un luogo pubblico, come ad esempio: Piazza Duomo, Padova Fiera, Stazione Leopolda, clicca sul seguente pulsante</p>
      <%= link_to "Segnala evento in luogo pubblico", new_public_event_path, class: 'btn btn-primary' %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="new-event-box">
      <h3>Evento in un locale</h3>
      <p>Se l'evento si svolge in un locale inserisci una parte del nome nella casella seguente e clicca tra quelli proposti</p>
      <%= form_tag("#", method: 'get', autocomplete: 'off') do |f| %>
        <div class="form-group">
          <%= text_field_tag "search_pub", "", class: 'form-control', autocomplete: 'off', name: 'text', placeholder: 'Inserisci il nome del locale' %>
        </div>
      <% end %>
      <p>
        Non hai trovato il locale? Segnalalo cliccando il pulsante
      </p>
      <p>
        <%= link_to "Segnala un locale", new_pub_path, class: 'btn btn-ilbirrone' %>
      </p>
      <script type="text/javascript">
        <%= autocomplete_search_pub('#search_pub') %>
      </script>
    </div>
  </div>
</div>