<% presenter = EventPresenter.create(@event, self) %>
<% content_for :title, "#{presenter.title}" %>

<% if presenter.has_photo? %>
  <% content_for :image_url, presenter.photo_url %>
<% end %>

<div itemscope itemtype="http://data-vocabulary.org/Event">
  <div class="row">
    <div class="col-md-12">    
      <%= presenter.render_breadcrumb %>
      <div class="page-title">
        <h1><span itemprop="summary"><%= presenter.title %></span></h1>
      </div>
      <div class="row">
        
        <div class="col-md-5">
          <div class='pub-photo'> 
            <%= presenter.render_photo -%>
            <%= presenter.render_add_cover %>
            <%= presenter.render_delete_cover %>
          </div>
          <p>
            <i class="fa fa-calendar"></i> <%= presenter.when -%>
            <meta itemprop="startDate" content="<%= presenter.start_date -%>">
            <meta itemprop="endDate" content="<%= presenter.end_date -%>">
          </p>
          <p>
            <span itemprop="location" itemscope itemtype="http://data-vocabulary.org/Organization">
              <meta itemprop="name" content="<%= presenter.location -%>">
              <i class="fa fa-map-marker"></i>
              <%= presenter.render_full_address %>
              <span itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address">
                <meta itemprop="street-address" content="<%= presenter.address -%>"> 
                <meta itemprop="locality" content="<%= presenter.city -%>">
                <meta itemprop="region" content="<%= presenter.region -%>">
              </span>
            </span>            
          </p>
          <% if presenter.website.present? %>
          <p>
            <i class="fa fa-hand-o-up"></i>
            <%= link_to "Vai al sito dell'evento", presenter.website, target: "_blank", rel: 'nofollow' %>
          </p>
          <% end %>
          <%= render partial: 'shared/social' %>
        </div>

        <div class="col-md-7">
          <div id="map_canvas"></div>
          <%= render partial: 'shared/map_links', locals: {presenter: presenter} %>
          <h4>Dettagli Evento</h4>
          <p><%= render_description(presenter.description) %></p>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render partial: 'pubs/map', locals: {pub: presenter, map_id: 'map_canvas'} %>
