<%= render_breadcrumb 'Statistiche' %>

<h1>Statistiche</h1>
<div class="statistics">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Valore</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= link_to "Birronauti", admin_users_path %></td>
        <td><%= @user_count -%></td>
      </tr>
      <tr>
        <td><%= link_to "Recensioni", admin_reviews_path %></td>
        <td><%= @review_count %></td>
      </tr>
      <tr>
        <td>Recensioni birre</td>
        <td><%= @beer_review_count %></td>
      </tr>
      <tr>
        <td><%= link_to "Birre", admin_beers_path %></td>
        <td><%= @beer_count %></td>
      </tr>
      <tr>
        <td><%= link_to "Locali", admin_pubs_path %></td>
        <td><%= @pub_count %></td>
      </tr>
      <tr>
        <td><%= link_to "Eventi", admin_events_path %></td>
        <td><%= @event_count %></td>
      </tr>
      <tr>
        <td><%= link_to "Commenti", admin_comments_path %></td>
        <td><%= @comment_count %></td>
      </tr>
      <tr>
        <td><%= link_to "Preiscritti", admin_pre_registrations_path %></td>
        <td><%= @pre_registration_count %></td>
      </tr>
      <tr>
        <td><%= link_to "Visitatori", admin_visitors_path %></td>
        <td><%= @visitor_count %></td>
      </tr>
    </tbody>
  </table>
</div>