<ul class="small-cloud">
    <li><%= brewpub_cloud_link("Venezia", 1) -%></li>
    <li><%= brewpub_cloud_link("Milano", 5) -%></li>
    <li><%= brewpub_cloud_link("Trieste", 1) -%></li>

    <li><%= brewpub_cloud_link("Bari", 2) -%></li>
    <li><%= brewpub_cloud_link("Cuneo", 1) -%></li>
    <li><%= brewpub_cloud_link("Vicenza", 3) -%></li>
    <li><%= brewpub_cloud_link("Bologna", 3) -%></li>

    <li><%= brewpub_cloud_link("Bergamo", 1) -%></li>
    <li><%= brewpub_cloud_link("Roma", 5) -%></li>
    <li><%= brewpub_cloud_link("Firenze", 2) -%></li>
    <li><%= brewpub_cloud_link("Brescia", 1) -%></li>
    
    <li><%= brewpub_cloud_link("Genova", 4) -%></li>
    <li><%= brewpub_cloud_link("Udine", 3) -%></li>
    <li><%= brewpub_cloud_link("Bolzano", 3) -%></li>
    <li><%= brewpub_cloud_link("Treviso", 2) -%></li>

    <li><%= brewpub_cloud_link("Torino", 4) -%></li>
    <li><%= brewpub_cloud_link("Verona", 1) -%></li>
    <li><%= brewpub_cloud_link("Como", 3) -%></li>
    <li><%= brewpub_cloud_link("Trento", 2) -%></li>
    
    <li><%= brewpub_cloud_link("Salerno", 1) -%></li>
    <li><%= brewpub_cloud_link("Alessandria", 3) -%></li>
    <li><%= brewpub_cloud_link("Palermo", 1) -%></li>
    <li><%= brewpub_cloud_link("Reggio di Calabria", 1) -%></li>
    <li><%= brewpub_cloud_link("Pavia", 2) -%></li>
    
    <li><%= brewpub_cloud_link("Cagliari", 3) -%></li>
    <li><%= brewpub_cloud_link("Pordenone", 1) -%></li>
    <li><%= brewpub_cloud_link("Perugia", 2) -%></li>
    <li><%= brewpub_cloud_link("Novara", 3) -%></li>
    <li><%= brewpub_cloud_link("Catania", 2) -%></li>
</ul>
<p class="cloud-provinces">
    <%= link_to "Vedi tutte le province", provinces_pubs_path %>
</p>