<%= link_to 'Scrivi la tua recensione!', select_for_review_pubs_path, class: 'btn btn-primary pull-right' %>
<h1>Brewpub</h1>
<p>I brewpub sono produttori di <%= link_to "Birra Artigianale", craft_beer_path %>, che dispongono di un locale in cui consumare la birra.</p>
