<% content_for :title, "Brewpub segnalati dai birronauti" %>
<% content_for :meta_description, "Gli ultimi Brewpub con foto e descrizione del locale segnalati dai Birronauti" %>

<div class="row">
  <div class="col-md-12">
    <%= render_breadcrumb('Brewpub') %>
    <%= render 'heading' %>
    <div class="sub-navbar">
      <ul class="list-inline">
        <li><b><%= t('helpers.links.recent_pubs') %></b></li>
        <li>|</li>
        <li><%= link_to t('helpers.links.recent_reviews'), brewpub_recent_reviews_pubs_path %></li>
      </ul>
    </div>
    <h3 class="section-title"><%= t('helpers.links.recent_pubs') %></h3>
    <div class="row">
      <%= ThumbnailsPresenter.new(@pubs, self).render(3) do |pub|
        render partial: 'pubs/pub_summary', locals: {pub: pub}
      end %>
    </div>
  </div>
</div>
<p>
  <%= link_to t('helpers.links.home_page'), root_path -%>
</p>
