<% content_for :title, "Tutti i brewpub in provincia #{@province}" %>

<div class="row">
  <div class="col-md-12">
    <%= render_breadcrumb [Breadcrumb.new("Brewpub", brewpub_path), Breadcrumb.new(@province)] %>
    <div class="page-title">
      <h1><%= "Brewpub in #{@province} e provincia" %></h1>
    </div>
    
    <div class="pubs-view-type">
      <ul>
        <li>Visualizza:</li>
        <li class="active">Elenco</li>
        <li><%= link_to "Mappa", brewpub_path(provincia: @province, show: 'map') %></li>
      </ul>
    </div>

    <%= render partial: 'shared/pubs_table', locals: {pubs: @pubs} %>

    <p><%= link_to "Vedi tutte le province", provinces_pubs_path %></p>
    <p>Se il brewpub che hai cercato non è presente puoi aggiungerlo cliccando il pulsante</p>
    <%= link_to "Segnala un Brewpub", new_pub_path(pub_type: 'Brewpub'), :class => 'btn btn-primary' %>
  </div>
</div>