<% content_for :title, "Recensioni recenti Brewpub" %>
<% content_for :meta_description, "Le recensioni più recenti dei Brewpub condivise dai Birronauti" %>

<div class="row">
  <div class="col-md-12">
    <%= render_breadcrumb('Brewpub') %>
    <%= render 'heading' %>
    <div class="sub-navbar">
      <ul class="list-inline">
        <li><%= link_to t('helpers.links.recent_pubs'), brewpub_path %></li>
        <li>|</li>
        <li><b><%= t('helpers.links.recent_reviews') %></b></li>
      </ul>
    </div>
    <h3 class="section-title"><%= t('helpers.links.recent_reviews') %></h3>
    <div class="row">
      <%= ThumbnailsPresenter.new(@pubs, self).render(3) do |pub|
        render partial: 'pubs/reviewed_pub_summary', locals: {pub: pub}
      end %>
    </div>
  </div>
</div>
<p>
  <%= link_to t('helpers.links.home_page'), root_path -%>
</p>
