<%= content_for :title, t('helpers.links.craft_beer') %>
<%= render_breadcrumb(t('helpers.links.craft_beer')) %>

<h1><%= t('helpers.links.craft_beer') -%></h1>
<%= image_tag "fermentatori-rame.jpg", class: "image_right_aligned", alt: "Fermentatori di rame" %>
<p>
  La legislazione italiana non distingue tra <%= link_to "birra", what_is_beer_path -%> prodotta artigianalmente e birra industriale e non definisce neppure che cosa si intenda per produzioni <em>brassicole artigianali</em>. Essa opera solo una distinzione tra <em>micro-birrifici</em> e produzione industriale, basandosi sulle quantità prodotte.
</p>
<p>
  A fronte di questo vuoto normativo, ci abbiamo provato noi de <%= t('site_name') -%> a definire le caratteristiche della birra artigianale.
</p>
<p>
  Noi consideriamo che una determinata birra si possa definire artigianale qualora sia composta esclusivamente dai seguenti ingredienti: <b>acqua</b>, <b>malto d'orzo</b>, <b>luppolo</b> e <b>lievito</b>.
</p>
<p>
  E abbia le seguenti caratteristiche:
</p>
<ul>
  <li>ingredienti di prima scelta e non estratti aromatici industriali;</li>
  <li>prodotta senza l'utilizzo di conservanti e/o coloranti;</li>
  <li>non pastorizzata e se possibile anche non filtrata (risultato: birra torbida);</li>
  <li>tassativa presenza di malto d’orzo;</li>
  <li>gasatura naturale (no addizionamento con anidride carbonica);</li>
  <li>lieve carbonazione in bottiglia;</li>
  <li>assenza di additivi chimici di qualsiasi genere.</li>
</ul>
<p>
  Aiutaci a definire la <b>Birra Artigianale Italiana</b> segnalandoci ulteriori caratteristiche per Te essenziali,  
  <%= link_to "contattandoci", new_contact_us_path -%>.
</p>
<p><%= link_to t('helpers.links.home_page'), root_path %></p>
