<%= content_for :title, t('helpers.links.history') %>
<%= render_breadcrumb(t('helpers.links.history')) %>

<h1><%= t('helpers.links.history') -%></h1>
<p>
  La nascita della <%= link_to "birra", what_is_beer_path -%> è probabilmente databile intorno al <b>7.000 a.C</b>.
  In ragione della propria composizione cerealicola, la birra è stata fin dalla sua nascita considerata come un prodotto in grado di alimentare alla stregua dei cibi solidi.
</p>

<p>
  Dal momento che gli ingredienti usati erano assolutamente gli stessi, essa ha legato la propria esistenza a quella del pane. Alcune recenti teorie archeologiche ritengono che tanto la produzione del pane quanto quella della birra, abbiano contribuito in modo decisivo allo sviluppo di tecniche agricole e alla stanzialità dell’uomo.
</p>

<h3>Antica Mesopotamia</h3>
<p>
  La birra, più o meno come la conosciamo oggi, nacque probabilmente in Mesopotamia. La struttura sociale più complessa raggiunta da queste popolazioni permise di giungere anche ad un livello piuttosto avanzato nella produzione brassicola. Se ne producevano diverse tipologie e venivano consumate nelle occasioni più importanti. Reperti archeologici suggeriscono la presenza della professione di <b>mastro birraio</b> in diversi nuclei sociali mesopotamici.
</p>

<h3>Babilonesi</h3>
<p>
  Le popolazioni Babilonesi attribuivano alla <b>birra</b> anche <b>forti valenze religiose e propiziatorie</b>. Essa si beveva spesso in occasione di particolari cerimonie. Tra i Babilonesi la birra era molto diffusa e veniva prodotta artigianalmente da persone che ne custodivano i segreti di produzione. La loro tecnica di produzione era piuttosto evoluta, al punto da produrre circa venti tipologie diverse di birra.
</p>

<h3>Antichi Egizi</h3>
<%= image_tag "egizi.jpg", class: "image_right_aligned", alt: "Antichi egizi" %>
<p>
  La passione per questa bevanda da parte degli Antichi Egizi è stata intensa. La produzione brassicola era estremamente importante, considerate le implicazioni cerimoniali e religiose che essa aveva. La produzione, pertanto era controllata rigidamente dall’apparato burocratico del faraone, per assicurarsi che venisse prodotta secondo le ricette prestabilite. La <b>birra</b> veniva <b>somministrata alle gestanti</b> perché si riteneva che <b>favorisse la produzione di latte materno</b> nella successiva fase dell’allattamento. Anche la fase di svezzamento dei bambini poteva avvenire ricorrendo a piccole quantità di birra dolcificata e diluita con acqua.
</p>

<h3>Fenici</h3>
<p>
  I Fenici erano grandi produttori e abili esportatori di birra verso le principali popolazioni del Mediteranneo.
</p>

<h3>Greci</h3>
<p>
  I Greci, nonostante la loro nota passione per il vino, apprezzavano significativamente la birra e ne erano grandi consumatori. Non la producevano direttamente ma si rifornivano principalmente dai mercanti fenici. Una curiosità interessante è che durante lo svolgimento delle Olimpiadi, era tassativamente proibito consumare vino, pertanto si ricorreva al consumo di birra, che invece era permesso.
</p>

<h3>Etruschi</h3>
<p>
  Le popolazioni etrusche producevano un tipo di birra derivato dalla fermentazione del farro e della segale.
</p>
<%= image_tag 'roma.jpg', class: "image_left_aligned", alt: "Antichi Romani" %>
<h3>Antichi Romani</h3>
<p>
  Gli Antichi Romani non furono grandi consumatori di birra dal momento che vivevano in zone dal clima particolarmente adatto alla produzione vinicola. In ogni caso molti romani, anche personalità illustri, a poco a poco si appassionarono al consumo di birra, forse a fronte della sempre più pericolosa vicinanza con le popolazioni cosiddette barbariche, che ne erano grandi consumatrici. Le cronache dell’epoca narrano che lo stesso <b>Augusto fu curato da una presunta insufficienza epatica con la birra</b>.
</p>

<h3>Popolazioni barbariche</h3>
<p>
  Le <b>popolazioni slave, celtiche e germaniche</b> erano grandissime produttrici e consumatrici di birra. Si ricorreva ad essa in qualsiasi occasione, dalla cerimonia religiosa alla festa laica fino alle deliberazioni più importanti delle assemblee legislative.
</p>

<h3>Medioevo</h3>
<p>
  A poco a poco vennero meno le valenze ritual-religiose ad essa attribuite ma si diffusero maggiormente le <b>credenze curative</b>, soprattutto nel periodo alto medievale. La birra fu infatti prescritta per molti malanni, da quelli cardiaci a quelli renali, come rimedio alla pazzia, alla lebbra, alle febbri e alla depressione ...
  Durante il periodo medioevale la produzione e il consumo della birra continuò grazie al paziente e sapiente lavoro dei monaci, che migliorarono sensibilmente le tecniche di produzione, ottenendo nuovi sapori sperimentando le più svariate erbe aromatiche (alloro, salvia, zenzero) per arrivare infine alla pianta per eccellenza: il <b>luppolo</b>.
</p>

<p>
  In <b>Italia</b> la storia moderna della birra iniziò nel 1789 in Piemonte, dove si narra che nacque il primo birrifico della penisola.
</p>

<p><%= link_to t('helpers.links.home_page'), root_path %></p>
