<% content_for :title, "Oktoberfest" %>
<%= render_breadcrumb('Speciale Oktoberfest') %>
<h1>Speciale Oktoberfest</h1>
<%= image_tag 'oktoberfest-panoramica.jpg', class: 'image_right_aligned' %>
<p>                                                                     
  <b>"O'Zapft is!!"</b> urla il borgomastro in dialetto bavarese - traducibile come "&Egrave; stappata!". Inizia ogni anno cos&igrave;, quando a colpi di martello, il borgomastro di Monaco (sindaco), inserisce lo spillatore nella botte inaugurale e porge il primo boccale all'autorit&agrave; ministeriale, una fantastica manifestazione che ha una storia tra le pi&ugrave; bizzarre. Una storia che racconta, come una <b>corsa di cavalli</b>, sia diventata il grande festival della birra che oggi conosciamo. Ma parlare semplicemente di festival della birra &egrave; assolutamente riduttivo. 
</p>
<p>
  L'Oktoberfest &egrave; per definizione un'esplosione dell'allegria tipica degli abitanti della Baviera. Tanta, tantissima musica e un fiume inarrestabile di persone provenienti dai quattro angoli del globo. Questi gli ingredienti principali della pi&ugrave; grande celebrazione della birra a livello planetario. 
</p>

<p>
L'Oktoberfest &egrave; una festa meravigliosa, allegra, pacifica, coloratissima, multietnica e molto, molto altro... Tutto ruota intorno alla birra, &egrave; vero, ma qui, fin dal XV secolo, la birra &egrave; una cosa davvero seria! Il tutto &egrave; regolamentato secondo un rigidissimo protocollo, che assume a tratti le caratteristiche del rituale religioso.
</p>

<h3>Le birre dell'Oktoberfest</h3>

<p>
Le birre ammesse all'Oktoberfest sono, infatti, tassativamente prodotte da soli sei birrifici e tutti con sede storica a Monaco. Li conoscono ormai in ogni angolo del globo perch&egrave; esportano in tutti i Paesi, ma vale la pena ricordarli: <b>Staatliches Hofbr&auml;u-München (HB), Spatenbr&auml;u, Löwenbr&auml;u, Augustiner-Br&auml;u, Hacker-Pschorr-Br&auml;u, Paulaner-Br&auml;u</b>. Ci si potrebbe chiedere perch&egrave; proprio questi birrifici. La risposta va ricercata nella storia risalente della birra in Germania, che era gi&agrave; diffusissima quando la Germania stessa, come Stato, ancora non esisteva. I sei birrifici menzionati rispettano alla lettera le prescrizioni dell'Editto della purezza (Reinheitsgebot).
</p>

<h3>L'Editto della Purezza in breve</h3>

<p>
Nel 1485 <b>Ludovico X</b> e <b>Guglielmo IV</b>, duchi di Baviera, emanarono tale Editto, con l'intento di far fronte alla gravissima carestia che aveva colpito la regione. L'obiettivo era di regolamentare tanto la produzione quanto la vendita della birra, da un lato, imponendo l'utilizzo esclusivo dell'orzo, al fine di lasciare il frumento e la segale per la panificazione e dall'altro, ponendo dei calmieri al prezzo della birra al litro. L'editto prescrisse in modo tassativo che la birra da quel momento in poi si sarebbe fatta esclusivamente con acqua, orzo e luppolo (i lieviti saranno scoperti da Pasteur solo agli inizi dell'800).
</p>

<h3>Alcuni numeri</h3>

<%= image_tag 'oktoberfest-esterno.jpg', class: 'image_right_aligned' %>

<p>
Ma ritorniamo all'Oktoberfest e cerchiamo di dare una vaga idea di cosa sia questa immensa festa. Inizia ogni anno alla <b>fine di settembre e si protrae fino alla prima settimana di ottobre</b> per un totale di circa sedici giorni. Nei due mesi precedenti nell'immensa area di <b>Theresienwiese</b> su una superficie di 42 ettari, partono, frentici, i preparativi. I birrifici mettono a disposizione 14 enormi capannoni (chiamati Festhalle) e 21 tendoni pi&ugrave; piccoli, per un totale complessivo di <b>pi&ugrave; di centomila posti a sedere</b>, l'equivalente di tutti i cittadini di Novara! Si procede a montare un luna park che nel corso degli anni &egrave; diventato immenso.
</p>

<h3>L'origine</h3>

<p>
Come si diceva l'Oktoberfest nacque come una corsa di cavalli, nel 1810, per festeggiare il matrimonio tra il principe Ludovico I di Baviera e la principessa Teresa di Sassonia-Hildburghausen. I festeggiamenti si protrassero per una settimana dal 12 al 17 ottobre. La manifestazione riscosse un successo tale che da quel momento si decise di replicarla con cadenza annuale, arricchendola di anno in anno con sempre nuove attrazioni, quali una fiera agricola, danze popolari, i mercatini, tanti complessi musicali tradizionali e il luna park.
</p>

<h3>Dove si svolge</h3>

<p>
L'Oktoberfest si svolge fin dalla sua origine nel 1810 a Monaco, la capitale della Baviera, nel sud-est della Germania. Per essere più precisi si svolge nel <b>parco Theresiewiese</b>, nel quartiere di Ludwigsvorstadt-Isarvorstadt, nello stesso luogo dove avvenne per l'appunto il matrimonio di Teresa di Sassonia-Hilburghausen e del principe Luigi I, che diede origine alla tradizione dell'Oktoberfest. Si tratta di un'area verde immensa di circa 420.000 metri quadrati.
</p>

<h3>Dentro i capannoni (Festhalle)</h3>
<iframe class='image_left_aligned' width="560" height="315" src="http://www.youtube.com/embed/XaA7H0k7SlE" frameborder="0" allowfullscreen></iframe>
<p>
Si chiamano <b>Festhalle</b>, traducibile come "saloni della festa". Nomen omen dicevano i latini, e mai come in questo caso il nome incarna perfettamente la sostanza del luogo: una grande festa, per l'appunto. Ciascuno stand &egrave; un mondo a s&egrave; stante. Ciascun birrificio addobba il proprio capannone con cura certosina, arricchendolo con ornamenti colorati che seguono la storia e la tradizione bavarese. Il risultato &egrave; che ognuno di essi ha caratteristiche peculiari e in ciascuno di essi si respira un'atmosfera diversa. 
</p>
<p>
Ogni birrificio sceglie vari temi ai quali ispirarsi per arredare i capannoni, alcuni sembrano delle enormi baite di montagna altri si ispirano alla natura con interni in prevalenza verdeggianti. &Egrave; bene precisare che spesso per riuscire ad entrare all'interno dei capannoni, &egrave; necessario sottoporsi a file chilometriche. Una buona soluzione, se il tempo lo permette, &egrave; di accomodarsi nei <b>Biergarten</b>. Si tratta di deliziosi dehor con tavoli e sedie, dislocati in prossimit&agrave; dei capannoni. In ciascuno Festhalle &egrave; possibile trovare gruppi musicali, specialità gastronomiche bavaresi e internazionali, tipi di birra e spettacoli folkloristici. Il comun denominatore che si ritrova in ciascun capannone &egrave; la musica ad alto volume, le risate, l'allegria e la voglia divertirsi, nel rispetto della tradizione bavarese. Durante la manifestazione, infatti, &egrave; facile imbattersi in persone comuni, spesso famiglie intere, vestite di tutto punto nei tradizionali abiti del folklore bavarese (Schutzen).
</p>

<h3>L'Oktoberfest nel mondo</h3>

<p>
Visto il successo planetario, fac-simile dell'Oktoberfest sono spuntati a tutte le latitudini, grazie soprattutto all'impulso delle comunit&agrave; tedesche sparse per il mondo. La pi&ugrave; grande festa simil-Oktoberfest fuori dai confini della Germania si svolge nelle citt&agrave; gemelle di <b>Kitchener</b> e <b>Waterloo</b> in territorio canadese il giorno del Givethanking - Festa del Ringraziamento canadese - il secondo luned&igrave; di ottobre. Altre manifestazioni in ordine d'importanza: l'<b>Oktoberfest-Zinzinnati</b>, che si svolge a Cincinnati in Ohio; l'<b>Oktoberfest di Blumenau</b> in Brasile; l'<b>Oktoberfest di General Belgrano</b>, nella provincia argentina di Còrdoba; l'<b>Oktoberfest di Hong Kong</b>.
</p>

<p>
In <b>Italia</b> l'unica <b>Oktoberfest ufficiale</b> nasce nel 2009 a <b>Genova</b> e si svolge in <b>piazza della Vittoria</b>. La manifestazione è organizzata dalla birreria <%= link_to @pub.name, pub_path(@pub) -%> - una delle sei sorelle - e si articola su circa undici giorni.
</p>
<p>
  <%= link_to t('helpers.links.home_page'), root_path -%>
</p>