<%= content_for :title, t('helpers.links.what_is_beer') %>
<%= render_breadcrumb(t('helpers.links.what_is_beer')) %>
<h1><%= t('helpers.links.what_is_beer') %></h1>
<div class="row">
  <div class="span12">
  <%= image_tag 'campo-orzo.jpg', alt: "campo d'orzo", class: "image_left_aligned" %>
    <p>
      La birra è una delle più conosciute e diffuse bevande alcoliche del mondo. In ragione dell’estrema semplicità della sua produzione e del suo elevato potere nutritivo, essa, al pari del pane, accompagna la vita quotidiana degli uomini fin dai tempi più antichi. 
    </p>
    <p>
      Essa è composta da ingredienti estremamente semplici e naturali: <b>acqua</b>, <b>lievito</b> e <b>malto d’orzo</b>.
    </p>
    <p>
      E’ il risultato della fermentazione di zuccheri derivanti da amidi per mezzo dell’azione dei lieviti. Detto più semplicemente, si ricava dalla macerazione del malto d’orzo in acqua calda. 
    </p>
    <p>
      Da questo composto scaturiscono zuccheri che a contatto con li lieviti si trasformano in un composto alcolico, che a fronte di lavorazioni successive e un riposo di tanti mesi quanti sono i suoi gradi alcolici, si trasformerà nel delizioso nettare.
    </p>
    <p><%= link_to t('helpers.links.home_page'), root_path %></p>
  </div>
</div>