<% content_for :title do %><%= "Dichiarazione sulla privacy" -%><% end %>
<%= render_breadcrumb('Dichiarazione sulla privacy') %>
<h1>Dichiarazione sulla privacy</h1>
<p>
  Lo staff de <%= t('site_name') -%> ha elaborato la presente disciplina sulla privacy e sul trattamento dei dati personali ponendo grandissima attenzione al diritto alla privacy dei propri utenti.
</p>
<p>
  Questo sito web di seguito denominato il "Sito" è gestito dall’Associazione Culturale <%= t('site_name') -%>.
  La presente dichiarazione sulla privacy ha efficacia a partire dal 1° settembre 2012 e disciplina la raccolta e il trattamento dei dati personali attraverso il Sito a partire dalla suddetta data.
</p>
<p>
La dichiarazione descrive le tipologie di dati che vengono raccolti da <%= t('site_name') -%> e il modo in cui vengono trattati. La preghiamo di leggere attentamente quanto segue prima di fornirci qualsiasi dato personale.
</p>
<p>
Utilizzando questo Sito acconsente al trattamento dei suoi dati personali da parte de <%= t('site_name') -%>, secondo quanto previsto dalla dichiarazione stessa. Qualora non sia d’accordo con i termini della presente dichiarazione la preghiamo di non utilizzare questo Sito. Per qualsiasi domanda in merito alla presente dichiarazione contatti il nostro supporto legale, attraverso la pagina <%= link_to "Contattaci", new_contact_us_path %>.
</p>
<p>
<h2>Dati raccolti</h2>
</p>
<p>
<b>1. Utenti non registrati</b>
</p>
<p>
  <%= t('site_name') -%> invita i propri utenti a registrarsi per poter utilizzare nel modo più ampio le diverse funzionalità del Sito. Tuttavia l'utente potrebbe decidere di non registrarsi e di utilizzare solo le parti del Sito che non richiedono la registrazione.
</p>
<p>
Se l’utente non si registra al Sito, i dati personali da noi raccolti saranno limitati.
Raccoglieremo l’indirizzo IP dell’utente al fine di individuare eventuali problemi collegati al nostro server, amministrare il Sito e compilare statistiche di utilizzo. L'indirizzo IP dell'utente potrebbe variare a ogni visita o rimanere invariato, a seconda che l'utente utilizzi una connessione a Internet always-on (ad esempio, modem via cavo o DSL), o una connessione dial-up. In entrambi i casi sarà estremamente difficile identificare l’utente a partire dal solo indirizzo IP e <%= t('site_name') -%> non farà alcun tentativo in tal senso.
</p>
<p>
Raccoglieremo questo tipo di informazioni anche se l'utente raggiunge il Sito cliccando su un link o su un messaggio pubblicitario presenti su un altro sito; tutto ciò ci permette di massimizzare la nostra visibilità su Internet e di comprendere meglio gli interessi dei nostri utenti. Tutte queste informazioni saranno comunque raccolte e trattate esclusivamente in forma aggregata, il che significa che una volta inserite nel nostro database verranno utilizzate al solo fine di creare report e statistiche complessive sui nostri visitatori, ma non sui singoli visitatori.
Inoltre potrebbe essere inviato all’hard disk del computer dell’utente un file denominato cookie.
</p>
<p>
<b>Cosa sono i cookie?</b>
</p>
<p>
  Il cookie contiene informazioni che ci aiutano a tracciare i percorsi di navigazione degli utenti sul Sito e a capire se l'utente si sia collegato in precedenza al Sito. Tuttavia, a meno che l’utente non si registri al Sito, il cookie non avrà accesso a informazioni che ci permetteranno di identificarlo.
I cookie infatti non vengono utilizzati per acquisire informazioni presenti sull’hard disk e non possono raccogliere informazioni da altri cookie presenti sul computer dell'utente e provenienti da altri siti.
</p>
<p>
Il ricorso ai cookie da parte nostra è finalizzato alla comprensione di come gli utenti utilizzino il nostro Sito e di come questo possa essere migliorato.
L'utente potrà rifiutarsi di accettare un cookie seguendo la procedura specificata dal browser web installato sul computer. Tuttavia, rifiutando i cookie, potrebbe accadere che il browser reagisca in maniera non appropriata non solo quando l'utente visita il nostro Sito, ma anche quando ne visita altri.
</p>
<p>
Pertanto, poiché i cookie non ci permettono di identificare gli utenti, suggeriamo di accettare che vengano installati in modo da sfruttare appieno le funzionalità del Sito. 
</p>
<p>
  Se accede a servizi di terzi, come i servizi di social media, tramite il nostro sito web, o prima di visitare il nostro sito, potremmo raccogliere informazioni come il suo nome utente, la password e altre informazioni rese accessibili da tali servizi allo scopo di migliorare e personalizzare l'uso del nostro sito Web.
</p>
<p>
<b>2. Utenti registrati</b>
</p>
<p>
  Se l'utente sceglie di registrarsi al Sito, sarà abilitato ad aggiungervi nuovi contenuti: potrà ad esempio inviare recensioni sulle birrerie e partecipare ai forum di discussione. Oltre a ciò potrà anche inviare e-mail con contenuto de <%= t('site_name') -%> a se stesso o ad altri utenti, così come personalizzare la propria fruizione del Sito.
</p>
<p>
I vantaggi della registrazione aumenteranno nel corso del tempo, in virtù della migliore conoscenza da parte de <%= t('site_name') -%> dell'utente e dell’inserimento di nuove funzionalità nel Sito. La invitiamo quindi a registrarsi al nostro Sito in modo da poter usufruire al meglio di tutto ciò che <%= t('site_name') -%> ha da offrire!
</p>
<p>
Se l’utente si registra, raccoglieremo informazioni personali in aggiunta ai dati descritti in precedenza. Questi dati possono comprendere quelli che vengono forniti manualmente riempiendo il modulo di registrazione, quali nome e cognome, e-mail, indirizzo postale, numero telefonico, preferenze di birrerie, birrifici e birre, nome utente, password e informazioni per contattare altre persone.
Possiamo conservare tutte o una parte di queste informazioni in un cookie sull’hard disk dell’utente, in modo che il nostro sistema possa riconoscerlo ogni volta che accede al Sito.
  In questo modo, possiamo conservare le preferenze dell'utente e presentargli una versione del Sito personalizzata, senza richiedere il log-in ad ogni sua visita.
</p>
<p>
Al fine di migliorare i servizi e aumentare la personalizzazione, potremmo periodicamente ottenere informazioni sull'utente da terzi indipendenti dai quali abbiamo ottenuto questi dati nel rispetto della normativa vigente e aggiungerli a quelli forniti al momento della registrazione. Inoltre il personale autorizzato de <%= t('site_name') -%> potrebbe aggiornare le informazioni fornite dall'utente al momento della registrazione per fare in modo che esse contengano dati accurati e in linea con quelli che potrebbero esserci stati forniti dall'utente stesso in altre comunicazioni.
</p>
<p>
<h2>Come vengono utilizzate le informazioni raccolte</h2>
</p>
<p>
  Utilizziamo le informazioni che raccogliamo per aiutare noi e gli utenti! Come già detto in precedenza, la registrazione ci consente di personalizzare il Sito nel modo più utile all'utente. Inoltre la registrazione consente all'utente di collegarsi automaticamente al Sito a ogni visita, senza dover sempre inserire nome utente e password. Potremmo anche utilizzare le informazioni personali per contattare periodicamente l'utente al fine di inviargli notizie o informazioni importanti circa <%= t('site_name') -%> o uno dei suoi membri o dei suoi partner, e/o al fine di richiedere una valutazione del Sito.
</p>
<p>
Oltre a questi aggiornamenti periodici, potremmo anche inviare altre informazioni, ma solo su specifica richiesta dell'utente. Queste potrebbero includere newsletter o altro materiale richiesto dall'utente.
Oltre a queste comunicazioni, se ci è stato fornito l'indirizzo e-mail, potremmo utilizzare le informazioni personali dell'utente per inviargli offerte speciali o altre opportunità offerte dai nostri partner commerciali, ma solo con il consenso dell'utente (consenso, che si perfeziona contestualmente al momento della registrazione al Sito de <%= t('site_name') -%> da parte dell’utente stesso, può essere revocato in qualsiasi momento con le modalità di seguito indicate).
</p>
<p>
Tutte le comunicazioni commerciali inviate via e-mail da <%= t('site_name') -%> possono essere rifiutate, compilando il form nella pagina <%= link_to "Contattaci", new_contact_us_path %>, specificando come oggetto <i>"Richiesta di cancellazione del mio nominativo dai Vs. archivi"</i>.
</p>
<p>
Potremmo anche utilizzare alcune informazioni che l'utente ci fornisce per inviargli pubblicità che potrebbe ritenere interessante. <%= t('site_name') -%> potrà saldare le proprie fatture grazie alle entrate pubblicitarie e potrà addebitare agli inserzionisti costi superiori, se la loro pubblicità verrà visionata da soggetti che con ogni probabilità la ritengono interessante. L’utente, dal canto suo, potrà visionare annunci pubblicitari di suo interesse.
</p>
<p>
<b>Cancellazione della registrazione</b>
</p>
<p>
  La registrazione potrà essere cancellata, compilando il form della pagina <%= link_to "Contattaci", new_contact_us_path %>, indicando come oggetto <i>"Cancellazione della registrazione"</i>. Invieremo all'utente un’e-mail per confermare la richiesta di cancellazione. Una volta ricevuta questa conferma, cancelleremo dal nostro database le informazioni dell'utente, anche se alcune di esse potranno rimanere nei nostri archivi più a lungo prima di essere eliminate. Potremmo non essere in grado di cancellare dai database dei nostri partner eventuali informazioni loro fornite.
</p>
<p>
<b>Divulgazione di informazioni personali</b>
</p>
<p>
  <%= t('site_name') -%> non vende o cede informazioni personali degli utenti a terzi, se non ai propri partner commerciali, secondo quanto precisato nella presente dichiarazione. Possiamo aggregare informazioni personali di tutti i nostri utenti e fornirle sempre in forma aggregata a terzi, come società di pubblicità, per finalità di marketing e promozionali. Anche in questo caso tali informazioni saranno rese in modo che nessuno dei terzi possa identificare i nostri utenti.
</p>
<p>
Possiamo condividere informazioni che consentono l'identificazione degli utenti con le società controllanti o con nostre controllate o collegate in altri Paesi del mondo.
La condivisione di queste informazioni ci consente di comprendere meglio le modalità in cui i vari prodotti e servizi offerti possono essere utili aii nostri utenti. Ci consente altresì di fornire all'utente informazioni su birrerie che potrebbero essere di suo interesse. Non poniamo alcuna restrizione all'utilizzo di informazioni personali da parte delle società controllanti, controllate o collegate, ma queste tratteranno i dati personali che ricevono da noi in maniera almeno equivalente a quella in cui trattano le informazioni dei propri utenti. Inoltre, rispetteranno le leggi applicabili all'invio di informazioni promozionali, dando la possibilità all'utente di scegliere a ogni e-mail inviata di non ricevere tali messaggi promozionali in futuro.
</p>
<p>
Gli Stati Uniti d'America e molti paesi esterni all'area economica europea sono generalmente considerati come Paesi che non forniscono una tutela "adeguata" dei dati personali ai sensi dell'articolo 25 della direttiva (95/46/CE). Accettando questa dichiarazione sulla privacy e utilizzando questo sito, l'utente da' il suo consenso (i) al trasferimento dei propri dati personali in quei paesi e (ii) all'uso di tali dati in quei Paesi conformemente a questa dichiarazione.
</p>
<p>
Potremmo anche condividere informazioni personali con terzi incaricati da <%= t('site_name') -%> di fornire servizi alla stessa (società che effettuano ricerche di mercato, fornitori di servizi di marketing, agenzie pubblicitarie); in questo caso chiederemo a questi terzi di utilizzare tali informazioni solo per la fornitura a <%= t('site_name') -%> di detti servizi specifici.
</p>
<p>
Conformemente con quanto previsto dalla normativa italiana, <%= t('site_name') -%> è tenuto a cooperare con le autorità e potrebbe trovarsi nella situazione di dover comunicare informazioni personali in risposta a specifiche richieste delle autorità giudiziarie o di altre pubbliche autorità. Qualora ciò dovesse accadere, <%= t('site_name') -%> fornirà solo le informazioni richieste. In altre parole, non trasmetteremo l'intero database in risposta a una specifica richiesta.
</p>
<p>
<%= t('site_name') -%> potrebbe anche decidere di trasmettere informazioni relative all’utente qualora ritenesse di doverlo fare per prevenire eventuali violazioni della legge e, accettando questa dichiarazione, l'utente è d’accordo sul fatto che <%= t('site_name') -%> possa prendere una simile decisione, a sua  (de <%= t('site_name') -%>) sola discrezione. L'utente accetta anche che le sue informazioni personali possano essere comunicate nell'ambito di un procedimento giudiziario, se ciò venga richiesto a <%= t('site_name') -%>, se questa ritenga in qualche modo di diminuire la propria responsabilità o di tutelare un proprio diritto.
</p>
<p>
Potremmo anche condividere informazioni nell'ambito di una transazione societaria, quale ad esempio lo scioglimento, la fusione, il consolidamento o la vendita di attivi, e nel caso, improbabile, di insolvenza.
Il profilo e i contributi degli utenti a <%= t('site_name') -%> verranno pubblicati e saranno identificabili tramite il nickname dell’utente. <%= t('site_name') -%> invita gli utenti a scegliere nickname che non siano facilmente associabili al loro nome e cognome. <%= t('site_name') -%> non comunicherà l’indirizzo e-mail né il nome e il cognome di un utente registrato agli altri utenti del Sito, tanto meno li esporrà pubblicamente senza previa autorizzazione da parte dell’utente stesso.
</p>
<p>
<b>Comunicazione tra gli utenti registrati</b>
</p>
<p>
  Quando un utente si registra al nostro Sito vengono automaticamente attivati i servizi di comunicazione tra gli utenti registrati. Questi servizi, come ad esempio le reti di frequentatori di birrerie e locali simili o il servizio di messaging privato, permettono agli utenti registrati di comunicare tra loro, così come con gli utenti non iscritti.
In assenza di disposizioni diverse, comunicate secondo le modalità illustrate di seguito, si ritiene che l’utente consenta ad essere contattato dagli altri utenti del sito (registrati e non) attraverso i servizi di comunicazione interni de <%= t('site_name') -%>.
</p>
<p>
Gli utenti possono rifiutare in ogni momento i servizi di comunicazione, compilando il form della pagina <%= link_to "Contattaci", new_contact_us_path %>, indicando come oggetto <i>"Richiesta di inibizione dei servizi di comunicazione tra utenti"</i>.
</p>
<p>
Se l’utente decide di partecipare a tali servizi è d’accordo:
</p>
<ul>
<li>
    di accettare messaggi provenienti da altri utenti registrati;
</li>
<li>
    che <%= t('site_name') -%> invii messaggi a suo nome ad altri utenti registrati, previa autorizzazione dei contatti presenti nella sua rubrica di indirizzi e-mail (nei modi previsti dalla presente dichiarazione).
</li>
</ul>
<p>
Gli utenti non registrati possono decidere in ogni momento di non voler più ricevere messaggi da utenti registrati al nostro Sito.
Abbiamo progettato questi servizi in modo da evitare ogni divulgazione di informazioni personali tra gli utenti e in modo da permettere a questi di rifiutare i servizi di comunicazione. Gli indirizzi e-mail degli utenti registrati non verranno mai divulgati ad altri utenti.
</p>
<p>
<b>Come si possono rivedere e aggiornare le proprie informazioni personali</b>
</p>
<p>
  L'utente può rivedere e aggiornare le proprie informazioni personali fornite durante la registrazione, compilando il form della pagina <%= link_to "Contattaci", new_contact_us_path %>, indicando come oggetto <i>"Modifica dei miei dati personali"</i> e specificando nel testo del messaggio le informazioni che si desidera correggere.
</p>
<p>
<h2>Misure che adottiamo per proteggere le informazioni personali degli utenti</h2>
<%= t('site_name') -%> ha implementato procedure di sicurezza per la protezione delle informazioni personali conservate nei propri sistemi. Ad esempio, limitiamo l'accesso alle informazioni personali degli utenti ad un ristretto numero di persone del nostro staff e solo quando riteniamo che abbiano ragionevolmente bisogno di accedere ad esse.
</p>
<p>
Impieghiamo inoltre processi (come hashing delle password, log di auditing e conclusione di sessioni inattive) per proteggere dette informazioni personali da accessi non autorizzati. Pur adottando misure tecniche e organizzative per proteggere le informazioni personali degli utenti da trattamenti non autorizzati o illegittimi e dalla perdita, distruzione o danneggiamento dei dati, non abbiamo la possibilità di garantire in maniera assoluta la sicurezza di queste informazioni.
</p>
<p>
<b>Privacy dei bambini</b>
</p>
<p>
  Il Sito è rivolto a un pubblico generico e non raccogliamo consapevolmente dati di bambini. Nel caso in cui un bambino che sappiamo essere minore di anni 13 ci invii informazioni personali, usiamo questi dati solo per rispondere direttamente a quel bambino e informarlo che dobbiamo ottenere il consenso dei genitori prima di ricevere i suoi dati personali.
</p>
<p>
<b>Modifiche a questa Dichiarazione sulla Privacy</b>
</p>
<p>
  Ci riserviamo il diritto di modificare la presente dichiarazione sulla privacy in qualsiasi momento ed in modo assolutamente unilaterale nel caso in cui lo ritenessimo opportuno. In caso di modifiche che potrebbero avere effetti sulle informazioni raccolte dall'utente, faremo ogni ragionevole sforzo per informare l'utente stesso dei cambiamenti e dargli l'opportunità di modificare o cancellare la sua registrazione.
</p>