<%= content_for :title, "Chi siamo" %>
<%= render_breadcrumb('Chi siamo') %>

<div class="who-we-are-box">
  <h1>Chi siamo</h1>
  
  <div class="row">
    <div class="col-md-7">
      <p>
      <%= t("site_name") %> è un sito innovativo che ti aiuta a scoprire le birrerie intorno a te.
      </p>
      <p>
      Potrai accedere in qualsiasi momento, anche dal tuo smartphone o tablet pc,
      alle recensioni di altri utenti per poter scegliere la birreria
      che fa per te.
      </p>
      <p>
      Potrai, inoltre, sempre, avere tutte le informazioni dettagliate
      per raggiungere la tua meta e trascorrere una serata speciale.
      </p>
      <div class="who-we-are-sign-up">
        <p>
          <strong>Iscriversi è davvero semplice e completamente gratuito!</strong>
        </p>
        <p>
          <%= link_to "Iscriviti subito!", new_user_registration_path, class: 'btn btn-primary btn-lg' %>
        </p>
        <p>
      </div>
      Iscrivendoti potrai segnalare locali, eventi, birre. Commentare e postare le tue foto e conviderle con i tuoi amici.
      </p>
      <p>
      Per iscriversi è sufficiente inserire <b>Nome utente</b>, <b>Email</b>, <b>la tua Città</b> e scegliere la <b>Password</b> ed entrerai immediatamente a far parte della nostra grande community dei  <%= link_to 'birronauti', users_path %>!
      </p>
    </div>
    <div class="col-md-5">
      <%= image_tag 'iscriviti-chi-siamo.png' %>
    </div>
  </div>

</div>
