<div class="row">
  <div class="col-md-6">
    <div class="vertical-divider">
      <h3>Accedi</h3>
      <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name),  wrapper_mappings: { boolean: :vertical_boolean }) do |f| %>
        <%= render 'shared/error_messages', f: f %>

        <%= f.input :email, :required => false, :autofocus => true %>
        <%= f.input :password, :required => false %>
        <%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>
        <%= f.button :submit, t('helpers.links.login') %>
      <% end %>
      <div class="account-links">
        <p><%= link_to "Hai dimenticato la password?", new_password_path(:user) %><br /></p>
        <p><%= render 'devise/shared/facebook_link' %></p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="account-invitation">
      <h3>Non hai ancora un account?</h3>
      <p>Nessun problema! &Egrave; gratuito e ci vorrà solo un istante!</p>
      <div class="sign-up-button">
        <%= link_to "Iscriviti e diventa un Birronauta!", new_user_registration_path, :class => 'btn btn-primary' -%>
      </div>
      <p><%= t('home_page.show.description') %></p>
    </div>
  </div>
</div>