<%= link_to beer_path(beer) do %>
  <%= BeerPresenter.new(beer, self).photo_tag %>
<% end %>
<div class="caption">
  <h4><%= link_to beer.name, beer_path(beer) %></h4>
  <p><%= small_rating_tag(beer.rating) %></p>
  <p><%= link_to "#{beer.pub.name} - #{beer.pub.city}", pub_path(beer.pub) %></p>
</div>