<ul class="small-cloud">
  <li><%= cloud_link("Bavarian Weizen", 5) -%></li>
  <li><%= cloud_link("Saison", 1) -%></li>
  <li><%= cloud_link("Traditional Bock", 3) -%></li>
  <li><%= cloud_link("Tripel", 1) -%></li>
  <li><%= cloud_link("Dry Stout", 3) -%></li>
  <li><%= cloud_link("Munich Helles", 4) -%></li>
  <li><%= cloud_link("India Pale Ale", 3) -%></li>
  <li><%= cloud_link("Blonde Ale", 5) -%></li>
  <li><%= cloud_link("Belgian Strong Dark Ale", 3) -%></li>
  <li><%= cloud_link("Helles Bock/Maibock", 1) -%></li>
  <li><%= cloud_link("Belgian Speciality Ale", 2) -%></li>
  <li><%= cloud_link("Munich Dunkel", 1) -%></li>
  <li><%= cloud_link("Strong Bitter/English Pale Ale", 5) -%></li>
  <li><%= cloud_link("Special or Best Bitter", 2) -%></li>
  <li><%= cloud_link("Strong Scotch Ale (wee heavy)", 2) -%></li>
  <li><%= cloud_link("American Pale Ale", 4) -%></li>
  <li><%= cloud_link("Castagna (Chestnut)", 2) -%></li>
  <li><%= cloud_link("Witbier", 4) -%></li>
  <li><%= cloud_link("Belgian Strong Golden Ale", 2) -%></li>
  <li><%= cloud_link("Belgian Pale Ale", 3) -%></li>
  <li><%= cloud_link("Sperimentali e storiche", 5) -%></li>
  <li><%= cloud_link("Koelsch-style Ale", 1) -%></li>
  <li><%= cloud_link("Fruit Beer (birre alla frutta)", 1) -%></li>
  <li><%= cloud_link("Spice/Herb/Vegetable (birre speziate/con erbe)", 4) -%></li>
  <li><%= cloud_link("Vienna Lager", 1) -%></li>
  <li><%= cloud_link("Robust Porter", 1) -%></li>
  <li><%= cloud_link("Bohemian Pilsner", 5) -%></li>
</ul>