<div class='beer-photo'>
  <%= beer.render_photo %>
  <%= beer.render_add_cover %>
  <%= beer.render_delete_cover %>
</div>

<table class="table table-condensed">
  <tbody>
    <tr>
      <th>Prodotta da</th>
      <td><%= link_to @beer.pub.name, pub_path(@beer.pub) -%></td>
    </tr>
    <tr>
      <th><%= Beer.human_attribute_name(:alcohol_by_volume) -%></th>
      <td><%= beer.alcohol_by_volume -%></td>
    </tr>
    <tr>
      <th><%= Beer.human_attribute_name(:color) -%></th>
      <td><%= beer.color -%></td>
    </tr>
    <% for optional_data in beer.optional_data %>
      <tr>
        <th><%= optional_data.title -%></th>
        <td><%= optional_data.value -%></td>
      </tr>
    <% end %>
    <% if beer.beer_type.present? %>
      <tr>
        <th><%= Beer.human_attribute_name(:beer_type) -%></th>
        <td><%= link_to beer.beer_type, beers_path(tipologia: beer.beer_type) -%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= beer.render_description %>
