<div class="oktoberfest-banner">
  <h5><%= link_to "Speciale Oktoberfest", oktoberfest_path %></h5>
  <p>
    <%=
      link_to oktoberfest_path do 
        image_tag 'oktoberfest-banner.jpg'
      end 
    %>
    <%= link_to "Tante info, stravaganze curiosità e divertimenti sulla festa più allegra del mondo", oktoberfest_path %>
  </p>
  <div class="clearfix"></div>
  <hr>
</div>