<% review = BeerReviewPresenter.new(review, self) %>
<% user_presenter = UserPresenter.new(review.user, self) %>

<div class="review-author">
  <%= user_presenter.render_small_avatar %>
  <p>
    Scritta da <%= link_to review.user.username, user_path(review.user) %>
  </p>
  <p>
    <%= small_rating_tag(review.rating) %>
    <span class="text-muted"><%= "#{time_ago_in_words(review.created_at)} fa" -%></span>
  </p>
</div>


<% unless review.content.blank? %>
  <p><%= render_description(review.content) %></p>
<% end %>
<table class="table table-unbordered">
  <tr>
    <td><span class="muted"><%= BeerReview.human_attribute_name(:appearance) -%></span></td>
    <td><%= review.appearance -%></td>
    <td><span class="muted"><%= BeerReview.human_attribute_name(:aroma) -%></span></td>
    <td><%= review.aroma -%></td>
  </tr>
  <tr>
    <td><span class="muted"><%= BeerReview.human_attribute_name(:taste) -%></span></td>
    <td><%= review.taste -%></td>
    <td><span class="muted"><%= BeerReview.human_attribute_name(:palate) -%></span></td>
    <td><%= review.palate -%></td>
  </tr>
</table>