<div class="well">
  <p><b><%= t("beers.show.add_review_invitation") %></b></p>
  <%= link_to t('helpers.links.add_review'), new_beer_review_path(beer_id: beer.id), class: 'btn btn-primary' %>
</div>
<%= render partial: 'review', spacer_template: "shared/ruler", collection: beer.reviews %>
