<% beer = BeerPresenter.new(similar_beer, self) %>
<div class="small-thumbnail">
  <%= link_to beer_path(beer.model) do %>
    <%= beer.photo_tag %>
  <% end %>
</div>
<div class="small-thumbnail-details">
  <p><%= link_to beer.name, beer_path(beer.model) -%><br>
  <%= beer.alcohol_by_volume -%> <%= beer.color -%></p>
  <p><%= link_to beer.pub.name, pub_path(beer.pub) -%></p>
</div>
<div class='clearfix'></div>