<% content_for :title, "Birre #{@beer_type}" %>
<div class="row">
  <div class="col-md-9">
    <%= render_breadcrumb [Breadcrumb.new("Birre", beers_path), Breadcrumb.new(@beer_type)] %>
    <h1><%= "Birre #{@beer_type}" %></h1>
    <table class="table table-striped">
      <tbody>
        <thead>
          <tr>
            <th><%= Beer.human_attribute_name(:name) -%></th>
            <th>Microbirrificio</th>
            <th><%= Beer.human_attribute_name(:alcohol_by_volume) -%></th>
            <th><%= Beer.human_attribute_name(:color) -%></th>
            <th>Giudizio</th>
          </tr>
        </thead>
        <% for beer in @beers %>
        <% beer = BeerPresenter.new(beer, self) %>
        <tr>
          <td><%= link_to beer.name, beer_path(beer.model) -%></td>
          <td><%= link_to beer.pub.name, pub_path(beer.pub) -%></td>
          <td><%= beer.alcohol_by_volume -%></td>
          <td><%= beer.color -%></td>
          <td><%= small_rating_tag(beer.rating) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-3">
    <%= render partial: 'oktoberfest_banner' %>
    <h5>Approfondimenti</h5>
    <p><%= link_to t('helpers.links.what_is_beer'), what_is_beer_path -%></p>
    <p><%= link_to t('helpers.links.craft_beer'), craft_beer_path -%></p>
    <p><%= link_to t('helpers.links.history'), history_path -%></p>
    <p class="cloud-title">Tipologie birrarie</p>
    <%= render partial: 'beer_type_cloud' %>
  </div>
</div>