<% content_for :title, "Le Birre più popolari" %>
<% content_for :meta_description, "Le migliori Birre artigianali recensite dai nostri birronauti" %>
<div class="row">
  <div class="col-md-9">
    <%= render_breadcrumb('Birre') %>
    <h1>Birre</h1>
    <p>Ultime novità dai Birrifici: le nuove birre segnalate dai Birronauti.</p>
    <h3 class="section-title">Nuove segnalazioni</h3>

    <div class="row">
      <%= ThumbnailsPresenter.new(@beers, self).render(3) do |beer|
        render partial: 'beer_thumbnail', locals: {beer: beer}
      end %>
    </div>
  </div>

  <div class="col-md-3">
    <%= render partial: 'oktoberfest_banner' %>
    <h4>Approfondimenti</h4>
    <p><%= link_to t('helpers.links.what_is_beer'), what_is_beer_path -%></p>
    <p><%= link_to t('helpers.links.craft_beer'), craft_beer_path -%></p>
    <p><%= link_to t('helpers.links.history'), history_path -%></p>
    <hr>
    <p class="cloud-title">Tipologie birrarie</p>
    <%= render partial: 'beer_type_cloud' %>
  </div>
</div>
<p>
  <%= link_to t('helpers.links.home_page'), root_path -%>
</p>
