<% beer = BeerPresenter.new(@beer, self) %>
<% content_for :title do
  "Birra #{beer.name} #{beer.pub.name} - Recensioni sulle migliori birre artigianali"
end %>
<% if beer.has_photo? %> 
  <% content_for :image_url, beer.photo_url %>
<% end %>

<div class="row">
  
  <div class="col-md-9">
    <%= beer.render_breadcrumb %>
    <h1>
      <%= beer.name %> 
      <%= big_rating_tag(beer.rating) %>
    </h1>

    <div class="row">
      <div class="col-md-5">
        <%= render partial: "beer", locals: {beer: beer} %>
        <%= render partial: 'shared/social' %>
      </div>

      <div class="col-md-7">
        <%= render partial: 'shared/tabs', locals: {tabs: beer.tabs} %>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <%= render partial: 'oktoberfest_banner' %>
    <h4>Birre simili</h4>
    <div class='similar_beers'>
      <%= render partial: 'similar_beer', spacer_template: "shared/ruler", collection: beer.similar %>
    </div>
  </div>
</div>