$(window).resize(handle_sign_up_link);

function handle_sign_up_link() {
  if ($(window).width() < 1300) {
    $('.sign-up').hide();
  } else {
    $('.sign-up').show();
  }
}

function render_editable_rating(tag_id, target_id, score) {
  addNoWrapClass(tag_id);
  $("#" + tag_id).raty({
    hints: ['scarso', 'sufficiente', 'discreto', 'buono', 'ottimo'],
    noRatedMsg: 'senza voto',    
    target: "#" + target_id,
    targetType: 'number',
    targetKeep: true,
    score: score,
    path: '',
    starHalf: '<%= asset_path("raty/star-half.png") %>',
    starOff: '<%= asset_path("raty/star-off.png") %>',
    starOn: '<%= asset_path("raty/star-on.png") %>'
  });
}

function addNoWrapClass(tag_id) {
  $("#" + tag_id).addClass("no-wrap");
}


function linkAccordionToField(accordionId, fieldId, tagsId) {

  $("#" + accordionId + " a").click(function () {
    
    var tag = $(this).data("value");

    if (getTags(tagsId).indexOf(tag) != -1) {
      return;
    }

    $("#" + tagsId).append(
      "<li class='tag label label-info'>" + 
      tag + ' ' +
      '<a href="#" data-dismiss="alert"><i class="fa fa-times"></i></a>' +
      "</li>")
    
    $("#" + fieldId).val(getTags(tagsId).join(", "));
  });
}

function getTags(tagsId) {
  return $("#" + tagsId + " li").map(function(i,n) {
    return $(n).text().slice(0, -1);
  }).get();
}

function trackEvent(category, label) {
  _gaq.push(['_trackEvent', category, label]);
}

function validateImageFile(inputFile) {
  var extErrorMessage = "Puoi caricare solo immagini: .jpg, .jpeg, .gif o .png";
  var allowedExtension = ["jpg", "jpeg", "gif", "png"];
  var maxFileSize = 200 * 1024;
  var sizeExceeded = false;
  var extError = false;
 
  $.each(inputFile.files, function() {
    var extName = this.name.split('.').pop();
    if ($.inArray(extName.toLowerCase(), allowedExtension) == -1) {
      extError=true;
    };
  });
  if (extError) {
    window.alert(extErrorMessage);
    $(inputFile).val('');
    return false;
  };
  return true;
}
