$navbar-default-bg: #fd8a07;
$navbar-default-link-color: white;
$navbar-default-link-hover-bg: lighten($navbar-default-bg, 25%);
$body-bg: #f7f7f9;
$link-color: darken(#5cb85c, 15%);
$grid-float-breakpoint: 992px;
$dropdown-link-hover-bg: $link-color;
$dropdown-link-hover-color: white;
$btn-primary-bg: #5cb85c;

$pagination-active-bg: $link-color;
$pagination-active-border: $link-color;

$btn-ilbirrone-color: #fff;
$btn-ilbirrone-bg: $navbar-default-bg;
$btn-ilbirrone-border: darken($btn-ilbirrone-bg, 5%);

@import "bootstrap-sprockets";
@import "bootstrap";


body {
  padding-top: 70px;
}

.no-wrap {
  white-space:nowrap;
}

.fa {
  color: #525252;
}

.important-link {
  a {
    color: $navbar-default-bg;
  }
  a:hover {
    color: $navbar-default-bg;
  }
}

.btn-ilbirrone {
  @include button-variant($btn-ilbirrone-color, $btn-ilbirrone-bg, $btn-ilbirrone-border);
}



.navbar {
  position: fixed; 
  padding: 0px; 
  margin: 0px;
}

.navbar-brand {
  img {
    width: 112px;
    height: 39px;
  }
  padding-top: 5px;
  padding-bottom: 0;
}

.navbar-avatar {
  img {
    @extend .img-rounded;
    max-height: 36px;
  }
  @extend .pull-left;
  margin-top: -8px;
  margin-right: 5px;
}


/* IPhone dropdown fix */ 

.dropdown-backdrop {
    position: static;
}

/**********************/

#map_canvas {
  width: 100%;
  height: 200px; 
}

.map-links {
  margin-top: 5px;
  margin-bottom: 20px; 
}

.table-unbordered {
  td {
    border-top: none;
    padding-left: 0px;
  }
  
  th {
    border-top: none;
    padding-left: 0px;
  }
}

.thumbnail {
  background-color: white;
}

.small-cloud {
  text-align: justify;
  margin: 0 auto 0 auto;
  padding-left: 0;
  li {
    display: inline;
    line-height: 20px;
    a.cloud_1 { font-size: 1.0em; }
    a.cloud_2 { font-size: 1.3em; }
    a.cloud_3 { font-size: 1.6em; }
    a.cloud_4 { font-size: 1.9em; }
    a.cloud_5 { font-size: 2.1em; }
  }
}

.cloud-provinces {
  margin-top: 20px;
}

.website-owner {
  margin-top: 20px;
  margin-bottom: 20px;
}

.nearby-link {
  @extend .important-link;
  margin-top: -10px;
  margin-bottom: 20px;
}


.statistics {
  width: 400px;
}

.image_left_aligned {
  @extend .img-thumbnail;
  @extend .pull-left;
  margin-right: 20px;
}

.image_right_aligned {
  @extend .img-thumbnail;
  @extend .pull-right;
  margin-left: 20px;
}

.score {
  font-size: 40px;
  line-height: 40px;
  color: $navbar-default-bg;
}

.optional_fields {
  background-color: $gray-lighter;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.tag {
  font-size: 14px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.tags {
  min-height: 60px;
}

.small-avatar {
  @extend .pull-left;
  margin-right: 20px;
  img {
    width: 50px;
  }
}

.review-author {
  margin-bottom: 20px;
}

.activity_separator {
  margin-top: 10px;
  margin-bottom: 10px;
}

.titolo-birronauti {
  h1 {
    @extend .section-title;
  }

  margin-bottom: 30px;
}

.typeahead {
  text-align: left;
}

.fb-like {
  vertical-align: top; 
}


.oktoberfest-banner {
  h6 {
    color: #c0c0c0;
    border-bottom: 1px solid $table-border-color;
  }
  h5 {
    a  {
      color: $navbar-default-bg;
    }  
  }

  img {
    @extend .pull-left;
    margin-right: 5px;
  }
  p {
    font-size: 12px;
    line-height: 16px;
  }
  a {
    color: $text-color;
  }

  a:hover {
    text-decoration: none;
  }
}

.banners {
  text-align: center;
  h5 {
    color: $link-color;
  }

  img {
    margin-bottom:  5px;
    display: inline;
  }
  margin-bottom: 15px;
}

.app-link {
  text-align: center;
  color: black;
}


.pub-photo {
  @extend .thumbnail;
  margin-bottom: 20px;
  position: relative;

  img {
    width: 100%;
  }

  .btn-cover {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 60px;
    margin-left: -75px;
    margin-top: -30px;
    white-space: normal;
  }
}

.delete-cover {
  margin-top: 5px;
  text-align: right;
}

.beer-photo {
  @extend .pub-photo;
}

.breadcrumb {
  background-color: $body-bg;
  padding: 0;
}

li.active {
  font-weight:bold;  
}

.similar_beers {
  font-size: 12px;
  hr {
    margin-top: 0px;
    margin-bottom: 9px;
  }
}

.small-thumbnail {
  img {
    @extend .img-rounded;
    width: 70px;
  }
  @extend .pull-left;
}

.thumbnail-column {
  width: 90px;
}

.small-thumbnail-details {
  margin-left: 80px;
}

.invite-friends {
  margin-top: 20px;
  margin-bottom: 20px;
}

.sign-up {
  display: block;
  left: 0;
  position: fixed;
  top: 150px;

  a:link, a:visited {
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.5),-1px 0 0 rgba(255,255,255,0.1) inset;
    -moz-box-shadow: 0 0 4px rgba(0,0,0,0.5),-1px 0 0 rgba(255,255,255,0.1) inset;
    box-shadow: 0 0 4px rgba(0,0,0,0.5),-1px 0 0 rgba(255,255,255,0.1) inset;
    background-color: $navbar-default-bg;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    color: $navbar-default-link-color;
    display: block;
    font-weight: bold;
    height: 40px;
    line-height: 42px;
    margin-left: -27px;
    padding: 0 12px;
    text-shadow: 0 1px 0 rgba(0,0,0,0.5);
  }

   a:hover {
    text-decoration: none;
    background-color: $navbar-default-link-hover-bg;
    color: black;
    text-shadow: none;
  }
}

.pub_event {
  @extend .well;
  background-color: lighten($navbar-default-bg, 45%);
  border: 1px solid lighten($navbar-default-bg, 30%);
  border-radius: 4px 4px 4px 4px;
  margin-bottom: 20px;
  min-height: 20px;
  padding: 19px;  
}

.pub-owner:after {
    background-color: $navbar-default-bg;
    border: 1px solid darken($navbar-default-bg, 10%);
    border-radius: 4px 0 4px 0;
    color: $navbar-default-link-color;
    content: "Riservato al propietario";
    font-size: 12px;
    left: -1px;
    padding: 3px 7px;
    position: absolute;
    top: -1px;
}
.pub-owner {
    background-color: #FFFFFF;
    border: 1px solid darken($navbar-default-bg, 10%);
    border-radius: 4px 4px 4px 4px;
    margin: 15px 0;
    padding: 39px 19px 14px;
    position: relative;
    text-align: center;
}

footer {
  color: #848484;
  h4 {
    color: $navbar-default-bg;
  }
  a {
    color: #848484;
  }
  a:hover {
    color: #fd8a07;
  }
  p {
    margin-top: 40px;
  }
}

.recent-event {
  img {
    max-width: 100%;
  }  
}

#pubsCarousel {
  img {
    max-width: 100%;
    height: 400px;
    margin: 0 auto;
  }

  a {
    color: white;
  }

  a:hover {
    color: white;
  }
}

.fb-like-box {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid $table-border-color;
}

.webmaster-code {
  width: 400px;
}

/* Bootstrap Css Map Fix*/
.map-bootstrap-fix {
  img {
    max-width: none;
  }

  label {
    width: auto; display:inline; 
  }
}

#pubs_map {
  @extend .map-bootstrap-fix;
  height: 500px;
}

.show-map {
  font-size: 1.2em; 
  margin: 20px 0px; 
}

.pubs-view-type {
  margin-bottom: 20px;

  ul {
    @extend .list-inline;
    @extend .list-unstyled;
  }

  li.active {
    background-color: $navbar-default-bg;
    color: white;
    padding: 10px;
  }

  li a {
    padding: 10px;
  }

  li a:hover {  
    background-color: $nav-link-hover-bg;
    color: $link-hover-color;
    text-decoration: none;
  }
}


.new-event-box {
  background-color: #F5F5F5;
  border: 1px solid #E5E5E5;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  padding: 19px 29px 29px;
  margin-top: 30px;
  margin-bottom: 50px;
}

.sub-navbar {
  background-color: #F5F5F5;
  border: 1px solid #E5E5E5;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  padding: 19px 19px 9px;
  margin-top: 20px;
  margin-bottom: 20px;
  .selected {
    border-bottom: 2px solid $navbar-default-bg;
  }
}

.section-title {
  border-bottom: 1px solid $navbar-default-bg;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

$bubbleLeftColor: #aad29c;
$bubbleRightColor: #fed19e;

.bubble
{
  margin-bottom: 20px;
  position: relative;
  padding: 20px 20px 5px 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  img {
    margin-bottom: 10px;
  }
}

.bubble.left {
  background: $bubbleLeftColor;
}

.bubble.right {
  background: $bubbleRightColor;
}

.avatar-left {
  img {
    width: 50px;
  }
  margin-right: 10px;
  @extend .pull-left;
}

.comment_form {
  textarea {
    resize: none;
    width: 90%;
  }

  a {
    cursor: pointer;
  }

  input[type="submit"] {
    margin-top: 15px;
  }
}

.user_comment_form {
  textarea {
    resize: none;
    width: 100%;
  }

  a {
    cursor: pointer;
  }

  input[type="submit"] {
    margin-top: 15px;
  }

  margin-right: 30px;
}


#edit_avatar_form {
  a {
    cursor: pointer;
  }
  
  input[type="file"] {
    display: none;
  }

  input[type="submit"] {
    position: absolute; 
    left: -9999px; 
    width: 1px; 
    height: 1px;
  }

  .fa-spinner {
    display: none;
  }
}

.comment {
  img {
    height: 50px;
  }
}

.vertical-divider {
  border-right: 2px solid $navbar-default-bg;
}

.account-invitation {
  text-align: center;
}

.account-links {
  margin-top: 30px;
  p {
    margin-bottom: 6px;
  }
}
.timeline-container {
  
  background-image: asset-url('timeline-divider.png');
  background-position: 50% 0;
  background-repeat: repeat-y;
  overflow: hidden;
}

.timeline-item {
  background-color: white;
  padding: 20px;
  border: 1px solid #dddddd;
  img {
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

.timeline-left {
  clear: left;
  float: left;
  margin-bottom: 20px;
  
}

.timeline-right {
  clear: right;
  float: right;
  margin-bottom: 20px;
  
}

.timeline-date {
  @extend .text-muted;
  text-align: right;
}

.timeline-commands {
  text-align: right;
}

@media (min-width:768px) {
  .timeline-left {
    width: 50%;
    .timeline-item {
      margin-right: 15px;
    }
  }
  
  .timeline-right {
    width: 50%;
    .timeline-item {
      margin-left: 15px;
    }
  }
}

@media (max-width:767px) {
  .timeline-left {
    width: 100%;
  }
  
  .timeline-right {
    width: 100%;
  }
}

.invisible {
  display: none;
}

#upload_pub_cover_form {
  margin: 0px;
}

.pre-register {
  @extend .vertical-divider;
  padding-bottom: 100px;
  padding-right: 20px;
}

.user {
  @extend .pull-left;
  height: 100px;

  .points {
    font-weight: bold;
  }

  .username {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  img {
    width: 70px;
  }
}

.user-points-table {
  @extend .table;
  max-width: 300px;
}

.analytics-image {
  img {
    max-width: 100%;
    height: auto;
  }
}

.visitor-button {
  @extend .btn; 
  @extend .btn-primary;
  font-weight: normal; 
}

#visit-map {
  @extend .map-bootstrap-fix;
  height: 300px;
  margin-bottom: 40px;
}

.user-info {
  margin-top: 10px;
}

.avatar {
  @extend .pull-left;
  margin-right: 20px;
  margin-bottom: 20px;
  img {
    margin-bottom: 10px;
  }
}

.banner-small {
  width: 115px;
  height: 115px;
}

#new_user {
  padding-right: 15px;
}

.tab-content {
  padding-top: 20px;
}

.sign-up-button {
  margin-top: 20px;
  margin-bottom: 30px;
}

.advertising-link {
  @extend .important-link;

  text-color: $navbar-default-bg;
  margin-top: 8px;
}

.page-title {
  margin-bottom: 20px;
}

.pub-description {
  margin-bottom: 20px;
}

.comment-load-photo {
  margin-top: 10px;
}

.comment-content {
  img {
    max-width: 100%;
  }
}

.user-search-box {
  margin-bottom: 30px;
}

.registration-links {
  margin-top: 20px;
}

#technical_fields {
  margin-top: 20px;
}

.geo-in-progress {
  margin-bottom: 30px;
}

.province-title {
  margin-top: 0px;
}

.are-you-here {
  h3 {
    margin-top: 0px;
    margin-bottom: 15px;
  }
}

.home-box {
  h3, h1 {
    @extend .section-title;
    margin-top: 0px;
  }
  margin-top: 20px;
  padding: 20px;
  background-color: white;
  border: 1px solid #dddddd;
}

.facebook-box {
  @extend .home-box;
  margin-bottom: 20px;
}

.recent-pub-box {
  margin-bottom: 20px;
  img {
    max-width: 100%;
  }
}

.cloud-box {
  @extend .home-box;

  .cloud-provinces {
    @extend .text-right;
    margin-bottom: 0;
  }
}

.cloud-title {
  margin-bottom: 20px;
  font-weight: bold; 
}

.who-we-are-sign-up {
  margin-top: 30px;
  margin-bottom: 30px;
}

.who-we-are-box {
  @extend .home-box;  
}

.improve-informations-link {
  @extend .text-right;
}

.notification-box {
  @extend .home-box;
  
  .notification-picture {
    img {
      max-width: 100%;
    }
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .notification-time {
    @extend .text-right;
    @extend .text-muted;
    margin-top: 10px;
    font-size: 0.85em;
  }

}

.notifications-link {
  margin-top: 20px;
  margin-bottom: 20px;
}

#ibirronauti {
  ul {
    @extend .list-unstyled;
  }
  
  .itemTitle {
    margin-top: 20px;
    font-size: 1.6em;
  }
  
  .itemDate {
    @extend .text-muted;
    margin-bottom: 10px;
  }
  
  .itemContent {
    @extend .clearfix;
  }

  .feedEkList {
    margin: 0px;
  }
}

.g-recaptcha {
  margin-bottom: 20px;
}