<% 
  content_for :title, "Acquisisci punti completando le Sfide"
  content_for :meta_description, 'Acquisisci punti e scala la classifica dei Birronuati segnalando locali, recensendo birrerie e birre, aggiungendo eventi' 
%>

<%= render_breadcrumb('Sfide') %>

<h1>Sfide</h1>
<p>Ognuna delle seguenti attività incrementerà il punteggio dei birronauti. La classifica globale è visibile da questa <%= link_to "pagina", users_path %>.</p>

<table class="user-points-table">
  <thead>
    <th>Attività</th>
    <th>Punteggio</th>
  </thead>
  <tbody>
    <% for row in UserPoints.table do %>
      <tr>
        <td><%= row.description %></td>
        <td><%= row.points %></td>
      </tr>
    <% end %>
  </tbody>
</table>