<div class="pubs-view-type">
  <ul>
    <li>Visualizza:</li>
    <li><%= link_to "Elenco", nearby_pubs_path %></li>
    <li class="active">Mappa</li>
  </ul>
</div>


<div id="pubs_map">
</div>

<%= render partial: 'shared/pubs_map', locals: {pubs: pubs, css_id: 'pubs_map'} %>
