<div class="pubs-view-type">
  <ul>
    <li>Visualizza:</li>
    <li class="active">Elenco</li>
    <li><%= link_to "Mappa", nearby_pubs_path(show: 'map') %></li>
  </ul>
</div>


<div class="row">
  <%= ThumbnailsPresenter.new(pubs, self).render(3) do |pub|
    render partial: 'pubs/pub_with_directions', locals: {pub: pub, latitude: latitude, longitude: longitude}
  end %>
</div>
