<div class="are-you-here">
  <div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Chiudi</span></button>
    <h3>Sei in <%= @pub.name %> <%= @pub.city %>?</h3>
    <%= link_to "Si", 
      geolocated_visit_pub_visitors_path(pub_id: @pub.id, latitude: @latitude, longitude: @longitude, confirmed: true), 
      class: "btn btn-primary btn-lg", method: :post %>
    <%= link_to "No", 
      geolocated_visit_pub_visitors_path(pub_id: @pub.id, latitude: @latitude, longitude: @longitude, confirmed: false), 
      class: "btn btn-default btn-lg", method: :post %>
  </div>
</div>