<% content_for :title, "Birrerie e Pub intorno a te" %>
<% content_for :meta_description, "Scopri le migliori Birrerie e Pub più vicini a te attraverso la funzione di geolocalizzazione del tuo browser" %>
<% content_for :custom_meta do %>
  <meta name="apple-itunes-app" content="app-id=682437918">
<% end %>
<% content_for :dynamic_javascripts do %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?sensor=false" %>
<% end %>

<div class="row">
  <div class="col-md-12">
    <div class="page-title">
      <h1>Birrerie e Pub intorno a te</h1>
      <p>
        Per determinare la tua posizione viene usata la funzione di geolocalizzazione del browser 
        che potrebbe non essere accurata. 
        Per una maggiore precisione ti consigliamo di scaricare la 
        <a href="https://itunes.apple.com/it/app/ilbirrone/id682437918?mt=8&uo=4" target="itunes_store" onClick="trackEvent('App', 'Click');">nostra app</a>
      </p>
    </div>

    <div id="currentLocation">
      <div class="geo-in-progress">
        Geolocalizzazione in corso 
        <i class="fa fa-spinner fa-spin fa-2x"></i>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  function loadPubs(position) {
    $.ajax({
      url: "<%= nearby_pubs_path %>" + "?latitude=" +  position.coords.latitude.toString() + "&longitude=" + position.coords.longitude.toString() + <%= raw("'&show=#{params[:show]}'") %>
      }).done(function(data) {
        $('#currentLocation').html(data.toString());
        });
  }

  function showError(error) {
    $('#currentLocation').html('<div class="geo-in-progress">Geolocalizzazione fallita. Verifica che il browser sia abilitato alla geolocalizzazione e successivamente ricarica la pagina.</div>');
  }

  function unsupportedGeolocation() {
    $('#currentLocation').html('Il browser non supporta la geolocalizzazione.'); 
  }

  geolocate(loadPubs, showError, unsupportedGeolocation);
</script>

