<p>Buongiorno <%= @resource.username %>!</p>

<p>Qualcuno ha richiesto di modificare la tua password clicca sul link senguente per cambiarla</p>

<p><%= link_to 'Cambia password', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>Se non sei stato Tu a richiedere il cambio della password, Ti preghiamo di ignorare email</p>