<%= render_breadcrumb [Breadcrumb.new('Statistiche', admin_statistics_path), Breadcrumb.new('Birronauti')] %>

<h1>Birronauti</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= User.human_attribute_name(:username) %></th>
      <th><%= User.human_attribute_name(:email) %></th>
      <th><%= User.human_attribute_name(:current_sign_in_at) %></th>
      <th><%= User.human_attribute_name(:current_sign_in_ip) %></th>
      <th><%= User.human_attribute_name(:sign_in_count) %></th>
      <th><%= User.human_attribute_name(:provider) %></th>
    <tr>
  </thead>
  <tbody>
    <% for user in @users %>
      <tr>
        <td><%= link_to user.username, user_path(user) -%></td>
        <td><%= user.email -%></td>
        <td><%= time_ago_in_words(user.current_sign_in_at) -%></td>
        <td><%= user.current_sign_in_ip -%></td>
        <td><%= user.sign_in_count -%></td>
        <td><%= user.provider -%></td>
      </tr>
    <% end %>
  </tbody>
</table>