<p>Ciao!</p>
<p>
  Sei stato invitato da <%= @user.username %> a preiscriverti al <strong>primo social network italiano degli homebrewer</strong>!
  dedicato a tutti quelli che si fanno la birra in casa. 
<p>
<p>
  Preiscrivendoti nella sezione homebrewers di Beerky avrai la possibilità di essere tra i primi a poterne far parte. 
  Potrai così condividere la tua passione con gli altri Birronauti.
</p>
<p>
  Clicca questo <%= link_to "link", pre_registration_homebrewers_url %> per iniziare
</p>
<p>
  Preiscriviti ora! I posti sono limitati!
</p>
