<p>
 Proposto da:
<% if @user %> 
  <%= link_to @user.username, user_url(@user) %>
<% else %>
  Anonimo
<% end %>
email: <%= @pub_changes.user_email %>
</p>
<p>
 Locale: <%= link_to @pub.name, pub_url(@pub) %>
</p>
<h2>Modifiche</h2>
<% @differences.each do |key, value| %>
  <p>
    <b>
      <span class="difference-label"><%= key %></span>
    </b>
    <br>
    <span class="difference-value"><%= value %></span>
  </p>
<% end %>