<p>
  Congratulazioni!
</p>
<p>
  Lo staff de  <%= t('site_name') -%> è lieto di comunicarTi, che "<%= @pub.name -%>" da Te segnalato, è entrato a far parte del mondo de <%= t('site_name') -%>!
</p>
<p>
  Scrivi subito la tua recensione, <%= link_to "cliccando qui", pub_url(@pub, only_path: false) -%>.
</p>
<p>
  Grazie per la preziosa collaborazione e arrivederci su 
  <%= link_to t('site_name'), url_for(controller: 'home_page', action: 'show', only_path: false) -%>!
</p>