<p>Ciao <%= @user.username %>!</p>

<p>
  Siamo felici di darti il benvenuto su <%= link_to t('site_name'), root_url %>! 
  Il tuo contributo, per noi e per gli altri birronauti, è fondamentale!
</p>

<p>
  Cosa aspetti allora a segnalare 
  <%= link_to "nuovi locali", pubs_url %>, 
  <%= link_to "eventi", events_url %>,
  postare commenti, 
  foto e fare amicizia con gli altri componenti della nostra <%= link_to "grande community", users_url %>!
</p>

<p>
  Siamo a <%= link_to "tua disposizione", contact_us_url %> per qualsiasi dubbio. ;-) 
</p>

<%= image_tag attachments['logo-email.png'].url, alt: t('site_name') %>