<% if pub.beers.empty? %>
  <p>Al momento non sono ancora state segnalate birre.</p>
<% else %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= Beer.human_attribute_name(:name) -%></th>
        <th><%= Beer.human_attribute_name(:alcohol_by_volume) -%></th>
        <th><%= Beer.human_attribute_name(:color) -%></th>
        <th>Giudizio</th>
      </tr>
    </thead>
    <tbody>
      <% for beer in pub.beers.map {|beer| BeerPresenter.new(beer, self)} %>
        <tr>
          <td><%= link_to beer.name, beer_path(beer.model) -%></td>
          <td><%= beer.alcohol_by_volume -%></td>
          <td><%= beer.color -%></td>
          <td><%= small_rating_tag(beer.rating) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<div class="well">
  <p><b><%= t("pubs.show.add_beer_invitation", name: pub.name) %></b></p>
  <%= link_to t('helpers.links.add_beer'), new_beer_path(pub_id: pub.id), class: 'btn btn-primary' %>
</div>