<%= CommentPresenter.new(@comment, self).render_form %>
<hr>
<% for comment in pub.comments %>

  <div class="bubble <%= cycle('left', 'right') %>">
    <% user_presenter = UserPresenter.new(comment.user, self) %>
    <%= user_presenter.render_small_avatar("avatar-left") %>
    <p class="author">
      <%= user_with_points(comment.user) %><br>
      <span class="muted"><%= "#{time_ago_in_words(comment.created_at)} fa" %></span>
    </p>
    <div class="comment-content">
      <% presenter = CommentPresenter.new(comment, self) %>
      <p><%= comment.content %></p>
      <%= presenter.render_image %>
    </div>
    <%= presenter.render_commands %>
  </div>
<% end %>