<div class="well">
  <p><b>Sei a conoscenza di un evento che si svolgerà presso <%= pub.name -%>? Condividilo con noi.</b></p>
  <%= link_to 'Segnala un evento', new_pub_event_path(pub_id: pub.id), class: 'btn btn-primary' %>
</div>
<%= render partial: 'pubs/event', collection: events %>

