<% event = EventPresenter.create(event, self) %>
<div class="pub_event">
  <p>
    <i class="fa fa-calendar"></i>
    <%= event.when -%>
  </p>
  <h4><%= event.title -%></h4>
  <p>
    <%= event.short_description -%>
  </p>
  <p>
    <%= link_to "Maggiori informazioni...", event_path(event.model) %>
  </p>
  <p class="muted">
    Segnalato da <%= link_to event.user.username, user_path(event.user) -%>
  </p>
</div>