<%= link_to 'Scrivi la tua recensione!', select_for_review_pubs_path, class: 'btn btn-primary pull-right' %>
<h1>Birrerie e Pub</h1>
<p>Se vuoi che il tuo locale sia presente nell’elenco ricordati di inviarci la foto e inserire la descrizione.</p>

