<% content_for :dynamic_javascripts do %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?sensor=false" %>
<% end %>
<%= javascript_tag do %>
  var latlng = new google.maps.LatLng(<%= pub.latitude %>, <%= pub.longitude %>);
  var mapOptions = {
    zoom: 12,
    center: latlng,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  }
  var map = new google.maps.Map($("#<%= map_id %>").get(0), mapOptions);
  var marker = new google.maps.Marker({
      map: map,
      icon: "<%= URI.join(root_url, image_path('marker-big.png')) %>",
      position: latlng
  });
<% end %>