<table class="table table-striped">
  <thead>
    <tr>
      <th><%= Pub.human_attribute_name(:name) -%></th>
      <th><%= Pub.human_attribute_name(:address) -%></th>
      <th>Birre</th>
    </tr>
  </thead>
  <tbody>
    <% for microbrewery in microbreweries %>
      <tr>
        <td><%= link_to microbrewery.name, pub_path(microbrewery) -%></td>
        <td><%= microbrewery.full_address -%></td>
        <td><%= t('beer', count: microbrewery.beers_count.to_i) -%></td>
      </tr>
    <% end %>
  </tbody>
</table>