<%= link_to pub_path(microbrewery) do %>
  <%= PubPresenter.create(microbrewery, self).photo_tag %>
<% end %>
<div class="caption">
  <h4><%= link_to microbrewery.name, pub_path(microbrewery) %></h4>
  <p>
    <%= link_to microbrewery.region, microbreweries_path(region: microbrewery.region) %>
  </p>
  <p>
    <%= t('beer', count: microbrewery.beers_count.to_i) %>
  </p>
</div>
