<div class='pub-photo'> 
  <%= pub.render_photo %>
  <%= pub.render_add_cover %>
  <%= pub.render_delete_cover %>
</div>
<p class="improve-informations-link"><i class="fa fa-pencil"></i> <%=link_to 'Proponi modifiche', change_pub_path(pub.model), rel: "nofollow" %></p>

<%= render partial: 'pubs/owner', locals: {pub: pub} %>

<% if pub.model.description.present? %>
<div class="pub-description">
  <%= render_description(pub.description) %>
</div>
<% end %>


<table class="table table-condensed">
 
  <% if pub.model.pub_type.present? %>
  <tr>
    <th><%= pub.model.class.human_attribute_name(:pub_type) %></th>
    <td><%= pub.pub_type_link %></td>
  </tr>
  <% end %>

  <% if pub.model.website.present? %>
  <tr>
    <th><%= pub.model.class.human_attribute_name(:website) %></th>
    <td><%= pub.website %></td>
  </tr>
  <% end %>
  
  <% if pub.model.phone.present? %>
  <tr>
    <th><%= pub.model.class.human_attribute_name(:phone) %></th>
    <td><%= pub.phone %></td>
  </tr>
  <% end %>

  <% if pub.model.closing_days.present? %>
  <tr>
    <th><%= pub.model.class.human_attribute_name(:closing_days) %></th>
    <td><%= pub.closing_days %></td>
  </tr>
  <% end %>

</table>