<p><strong><%= "Nelle vicinanze di #{pub.name}" -%></strong></p>

<div class='similar_beers'>
  <%= render partial: 'pubs/pub_with_photo', spacer_template: "shared/ruler", 
    collection: PubQuery.near(pub.latitude, pub.longitude, 8).reject{|p| p.name == pub.name }, 
    locals: {latitude: pub.latitude, longitude: pub.longitude} %>
</div>

<p><%= link_to "Vedi tutte le birrerie in provincia di #{pub.province}", pubs_path(provincia: pub.province) -%></p>