<% pub = PubPresenter.create(pub_with_photo, self) %>
<div class='small-thumbnail'>
  <%= link_to pub_path(pub.model)  do %>
    <%= pub.photo_tag %>
  <% end %>
</div>
<div class='small-thumbnail-details'>
  <p>
    <%= link_to pub.name, pub_path(pub.model) -%><br>
    <%= pub.city -%><br>
    <%= pub.distance_from(latitude, longitude) %> km<br> 
    <%= small_rating_tag pub.rating %>
  </p>
</div>
<div class='clearfix'></div>
