<% pub = PubPresenter.create(pub, self) %>
<%= link_to pub_path(pub.model)  do %>
  <%= pub.photo_tag %>
<% end %>
<div class="caption">
  <h4><%= link_to pub.name, pub_path(pub.model) -%></h4>
  <p>
    <%= pub.city -%><br>
    <%= pub.distance_from(latitude, longitude) %> km<br> 
    <span id="rating_<%= pub.id %>"></span>
    <%= small_rating_tag pub.rating %>
  </p>
  <p>
    <%= link_to "Indicazioni Stradali", "http://maps.google.com/maps?saddr=#{latitude},#{longitude}&daddr=#{pub.full_address}", class: 'btn btn-default', target: "_blank" %>
  </p>
</div>
<div class='clearfix'></div>