<% presenter = PubPresenter.create(pub, self) %>
<%= link_to pub_path(pub) do %>
  <%= presenter.photo_tag %>
<% end %>
<div class="caption">
  <h4><%= presenter.name %></h4>
  <p>
    <i class="fa fa-map-marker"></i>
    <%= presenter.city_with_province %>
  </p>
  <p><%= presenter.render_description %></p>
  <p>
    <%= link_to "Maggiori informazioni...", pub_path(pub) %>
  </p>
</div>