<div itemscope itemtype="http://data-vocabulary.org/Organization"> 
  <meta itemprop="name" content="<%= pub.name %>">
  <div itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address">
    <meta itemprop="street-address" content="<%= pub.address %>">
    <meta itemprop="locality" content="<%= pub.city %>">
    <meta itemprop="region" content="<%= pub.region %>">
  </div>
</div>
<% if pub.reviews.size > 0 %>
<div itemscope itemtype="http://data-vocabulary.org/Review-aggregate">
  <meta itemprop="itemreviewed" content="<%= pub.name %>" />
  <meta itemprop="rating" content="<%= pub.rating %>" />
  <meta itemprop="votes" content="<%= pub.reviews.size %>" />
</div>
<% end %>
