<div class="well">
  <p><b><%= t("pubs.show.add_review_invitation") %></b></p>
  <%= link_to t('helpers.links.add_review'), new_review_path(pub_id: pub.id), class: 'btn btn-primary' %>
</div>

<%= render partial: 'pubs/review', spacer_template: "shared/ruler", collection: pub.reviews %>
