<% user_presenter = UserPresenter.new(review.user, self) %>

<div class="review-author">
  <%= user_presenter.render_small_avatar %>
  <p>
    <%= user_with_points(review.user) %><br>
    <%= small_rating_tag review.rating %>
    <span class="muted"><%= "#{time_ago_in_words(review.date)} fa" -%></span>
    <% if review.frequenter? %>
      <i class="fa fa-home" title="frequentatore abituale"></i>
    <% end %>
  </p>
</div>

<p><%= render_description(review.description) %></p>
<table class="table table-condensed table-unbordered">
  <tr>
    <td><span class="muted"><%= review.class.human_attribute_name(:beers) -%></span></td>
    <td><%= small_rating_tag review.beers %></td>
    <td><span class="muted"><%= review.class.human_attribute_name(:food) -%></span></td>
    <td><%= small_rating_tag review.food %></td>
  </tr>
  <tr>
    <td><span class="muted"><%= review.class.human_attribute_name(:value) -%></span></td>
    <td><%= small_rating_tag review.value %></td>
    <td><span class="muted"><%= review.class.human_attribute_name(:atmosphere) -%></span></td>
    <td><%= small_rating_tag review.atmosphere %></td>
  </tr>
</table>