<div class="row">
  <div class="col-md-3">
    <p><%= image_title %></p>
    <%= image_tag image_name %>
  </div>
  <div class="col-md-9">
    <p>Copia il seguente codice sul tuo sito</p>
    <textarea class="webmaster-code" rows="5"><%= webmaster_code(@pub, image_name, width, height) %></textarea>
  </div>
</div>
