<ul class="small-cloud">
    <li><%= pub_cloud_link("Londra", 5) %></li>
    <li><%= pub_cloud_link("Lipsia", 3) %></li>
    <li><%= pub_cloud_link("Monaco", 4) %></li>
    <li><%= pub_cloud_link("Bruxelles", 5) %></li>
    <li><%= pub_cloud_link("New York", 3) %></li>
</ul>