<% content_for :title, "Birrerie e Pub Italiani più curiosi segnalati dai nostri Birronauti" %>
<% content_for :meta_description, "Birrerie e Pub Italiani più curiosi segnalati dai nostri Birronauti" %>

<div class="row">
  <div class="col-md-9">
    <%= render_breadcrumb('Birrerie e Pub') %>
    <%= link_to 'Scrivi la tua recensione!', select_for_review_pubs_path, class: 'btn btn-primary pull-right' %>
    <h1>Birrerie e Pub</h1>
    <p>
      I locali più curiosi segnalati su <%= t('site_name') %>. 
      Se conosci un locale che pensi debba essere presente in questo elenco <%= link_to 'contattaci', new_contact_us_path %>
    </p>
    <div class="sub-navbar">
      <ul class="list-inline">
        <li><%= link_to t('helpers.links.recent_pubs'), pubs_path %></li>
        <li>|</li>
        <li><%= link_to t('helpers.links.recent_reviews'), recent_reviews_pubs_path %></li>
        <li>|</li>
        <li><b><%= t('helpers.links.curious_pubs') %></b></li>
      </ul>
    </div>

    <h3 class="section-title"><%= t('helpers.links.curious_pubs') %></h3>
    <div class="row">
      <%= ThumbnailsPresenter.new(@pubs, self).render(3) do |pub|
        render partial: 'pub_summary', locals: {pub: pub}
      end %>
    </div>
  </div>
  <div class="col-md-3">
    <p class="cloud-title">Birrerie e Pub della tua provincia</p>
    <%= render 'cloud' %>
  </div>
</div>
<p>
  <%= link_to t('helpers.links.home_page'), root_path -%>
</p>
