<% content_for :title, "Tutte le birrerie e pub in provincia #{province}" %>

<div class="row">
  <div class="col-md-9">
    <%= render_breadcrumb [Breadcrumb.new("Birrerie e Pub", pubs_path), Breadcrumb.new(province)] %>
    <div class="page-title">
      <h1><%= "Birrerie e Pub in #{province} e provincia " %></h1>
    </div>
    
    <div class="pubs-view-type">
      <ul>
        <li>Visualizza:</li>
        <li class="active">Elenco</li>
        <li><%= link_to "Mappa", pubs_path(provincia: province, show: 'map') %></li>
      </ul>
    </div>

    
    <%= render partial: 'shared/pubs_table', locals: {pubs: pubs} %>

    <p><%= link_to "Vedi tutte le province", provinces_pubs_path %></p>
    <p>Se la birreria che hai cercato non è presente puoi aggiungerla cliccando il pulsante</p>
    <%= link_to "Segnala una Birreria", new_pub_path(pub_type: 'Birreria'), :class => 'btn btn-primary' %>
  </div>

  <div class="col-md-3">
    <p class="cloud-title">Tutte le birrerie della tua provincia</p>
    <%= render 'cloud' %>
  </div>
</div>