<% presenter.view = self %>
<% content_for :title, presenter.title %>
<% content_for :dynamic_javascripts do %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?sensor=false" %>
<% end %>

<%= render_breadcrumb presenter.breadcrumb %>
<div class="page-title">
  <h1><%= presenter.title %></h1>
</div>

<div class="pubs-view-type">
  <ul>
    <li>Visualizza:</li>
    <li><%= presenter.link_to_list %></li>
    <li class="active">Mappa</li>
  </ul>
</div>


<div id="pubs_map">
</div>

<%= render partial: 'shared/pubs_map', locals: {pubs: pubs, css_id: 'pubs_map'} %>
