<% presenter = MicrobreweriesPresenter.create(self, @microbreweries, params[:region]) %>
<% content_for :title, presenter.title %>
<% content_for :meta_description, presenter.meta_description %>
<div class="row">
  <div class="col-md-9">
    <%= presenter.render_breadcrumb %>
    <h1><%= presenter.heading %></h1>
    <p>I microbirrifici sono produttori di <%= link_to "Birra Artigianale", craft_beer_path %>, 
      quelli che dispongono di un locale in cui consumare la birra vengono indicati come brewpub
    </p>
    <%= link_to t("helpers.links.add_microbrewery"), new_pub_path(pub_type: "Microbirrificio"), :class => 'btn btn-primary pull-right' %>
    <h3 class="section-title"><%= presenter.sub_heading %></h3>
    <%= presenter.render %>
  </div>
  <div class="col-md-3">
    <p class="cloud-title">Tutti i microbirrifici della tua regione</p>
    <ul class="small-cloud">
      <li><%= region_tag_link_to "Valle d'Aosta", 1 -%></li>
      <li><%= region_tag_link_to "Piemonte", 5 -%></li>
      <li><%= region_tag_link_to "Lombardia", 5 -%></li>
      <li><%= region_tag_link_to "Veneto", 4 -%></li>
      <li><%= region_tag_link_to "Trentino-Alto Adige", 3 -%></li>
      <li><%= region_tag_link_to "Sicilia", 3 -%></li>
      <li><%= region_tag_link_to "Liguria", 2 -%></li>
      <li><%= region_tag_link_to "Toscana", 5 -%></li>
      <li><%= region_tag_link_to "Emilia-Romagna", 5 -%></li>
      <li><%= region_tag_link_to "Umbria", 1 -%></li>
      <li><%= region_tag_link_to "Marche", 2 -%></li>
      <li><%= region_tag_link_to "Lazio", 4 -%></li>
      <li><%= region_tag_link_to "Abruzzo", 2 -%></li>
      <li><%= region_tag_link_to "Friuli-Venezia Giulia", 3 -%></li>
      <li><%= region_tag_link_to "Molise", 1 -%></li>
      <li><%= region_tag_link_to "Campania", 4 -%></li>
      <li><%= region_tag_link_to "Basilicata", 1 -%></li>
      <li><%= region_tag_link_to "Puglia", 4 -%></li>
      <li><%= region_tag_link_to "Calabria", 1 -%></li>
      <li><%= region_tag_link_to "Sardegna", 3 -%></li>
    </ul>
  </div>
</div>
