<% content_for :title, "Le Birrerie e i Pub d'Italia" %>
<% content_for :meta_description, "Scopri le migliori Birrerie e Pub della tua provincia" %>

<div class="row">
  <div class="col-md-12">
    <%= render_breadcrumb('Tutte le province') %>
    <div class="page-title">
      <h1>Le Birrerie e i Pub d'Italia</h1>
      <p>Scopri le migliori Birrerie e Pub della tua provincia</p>
    </div>
    <div class="row">
    <%= ThumbnailsPresenter.new(@provinces.group_by(&:region).values, self).render(3) do |provinces| %>
      <div class="caption">
      <h3 class="province-title"><%= provinces.first.region %></h3>
        <% for item in provinces %>
          <%= link_to "#{item.province}&nbsp;(#{item.count})".html_safe, pubs_path(provincia: item.province) %>
        <% end %>
      </div>
    <% end %>
    </div>
  </div>
</div>