<% content_for :title, "Recensioni recenti Birrerie e Pub" %>
<% content_for :meta_description, "Le recensioni più recenti di Birrerie e Pub condivise dai Birronauti" %>

<div class="row">
  <div class="col-md-9">
    <%= render_breadcrumb('Birrerie e Pub') %>
    <%= render 'heading' %>
    <div class="sub-navbar">
      <ul class="list-inline">
        <li><%= link_to t('helpers.links.recent_pubs'), pubs_path %></li>
        <li>|</li>
        <li><b><%= t('helpers.links.recent_reviews') %></b></li>
        <li>|</li>
        <li><%= link_to t('helpers.links.curious_pubs'), curious_pubs_path %></li>
      </ul>
    </div>
    <h3 class="section-title"><%= t('helpers.links.recent_reviews') %></h3>
    <div class="row">
      <%= ThumbnailsPresenter.new(@pubs, self).render(3) do |pub|
        render partial: 'reviewed_pub_summary', locals: {pub: pub}
      end %>
    </div>
  </div>
  <div class="col-md-3">
    <p class="cloud-title">Birrerie e Pub della tua provincia</p>
    <%= render 'cloud' %>
  </div>
</div>
<p>
  <%= link_to t('helpers.links.home_page'), root_path -%>
</p>
