<% content_for :title, 'Scrivi una recensione' %>
<div class="page-title">
  <h1>Scrivi una recensione</h1>
</div>
<p>Cerca il locale scrivendo una parte del nome nella seguente casella e clicca tra quelli proposti</p>
<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <%= text_field_tag "search_pub", "", class: 'form-control', autocomplete: 'off', name: 'text', placeholder: 'Inserisci il nome del locale' %>
      <p class="help-block">Esempio: stai cercando la birreria Buskers di Roma, scrivi solamente buskers senza birreria o Roma.</p>
    </div>
  </div>
</div>
<p>Non hai trovato il locale? Segnalalo cliccando il pulsante</p>
<p><%= link_to "Segnala un locale", new_pub_path, class: 'btn btn-primary' %></p>

<script type="text/javascript">
  <%= autocomplete_search_pub_new_review('#search_pub') %>
</script>