<% presenter = PubPresenter.create(@pub, self) %>
<% content_for :title, "#{presenter.name}, #{presenter.city} - Recensioni sulle migliori birrerie" %>
<% if presenter.has_photo? %> 
  <% content_for :image_url, presenter.photo_url %>
<% end %>

<%= render partial: 'pubs/pub_microdata', locals: { pub: presenter } %>

<div class="row">
  <div class="col-md-9">    
    <%= render_breadcrumb presenter.breadcrumb %>
    <div class="page-title">
      <h1>
        <%= presenter.name %>
        <%= big_rating_tag(presenter.rating) %>
        <%= presenter.render_visitor_link %>
      </h1>
      <p><%= presenter.full_address %></p>
    </div>
    <div class="row">
      <div class="col-md-5">
        <%= render partial: 'pubs/pub_details', locals: {pub: presenter} %>
        <div class="nearby-link">
          <i class="fa fa-map-marker"></i> 
          <%= link_to t("helpers.links.nearby_pubs"), nearby_pubs_path(show: 'map') %>
        </div>      
        <%= render partial: 'shared/social' %>
        <p class="website-owner">
          <%= link_to "Il logo di #{t("site_name")} sul tuo sito web", webmaster_pub_path(@pub) %>
        </p>
      </div>

      <div class="col-md-7">
        <div id="map_canvas"></div>
        <%= render partial: 'shared/map_links', locals: {presenter: presenter} %>
        <%= render partial: 'shared/tabs', locals: {tabs: presenter.tabs} %>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <%= render partial: "pubs/pubs_in_province", locals: {pub: presenter} %>
  </div>
</div>
<%= render partial: 'pubs/map', locals: {pub: presenter, map_id: 'map_canvas'} %>

