<% content_for :title, "Risorse per i webmaster #{@pub.name}" %>
<%= render_breadcrumb [Breadcrumb.new(@pub.name, pub_path(@pub)), Breadcrumb.new('Risorse per i webmaster')] %>

<h1>Risorse per i webmaster - <%= @pub.name %></h1>

<p>Hai un sito e vuoi aumentare la visibilità della tua attività? Scegli l'immagine che meglio si adatta al tuo sito.</p>

<hr>
<%= render partial: 'webmaster_code', 
  locals: {image_title: 'Versione 1', image_name: "segnalato-su-beerky.png", width: 166, height: 166} %>
<hr>
<%= render partial: 'webmaster_code', 
  locals: {image_title: 'Versione 2', image_name: "segnalato-su-beerky-medio.png", width: 156, height: 60} %>
<hr>
<%= render partial: 'webmaster_code', 
  locals: {image_title: 'Versione 3', image_name: "segnalato-su-beerky-medio-2.png", width: 156, height: 60} %>
<hr>
<%= render partial: 'webmaster_code', 
locals: {image_title: 'Versione 4', image_name: "segnalato-su-ilbirrone-icona.png", width: 32, height: 32} %>


<%= javascript_tag do %>
$('textarea.webmaster-code').focus(function() {
    var $this = $(this);

    $this.select();

    window.setTimeout(function() {
        $this.select();
    }, 1);

    // Work around WebKit's little problem
    function mouseUpHandler() {
        // Prevent further mouseup intervention
        $this.off("mouseup", mouseUpHandler);
        return false;
    }

    $this.mouseup(mouseUpHandler);
});
<% end %>