<%= simple_form_for(review, options) do |f| %>
  <%= render 'shared/error_messages', f: f %>
  <%= f.hidden_field :pub_id %>
  <%= f.hidden_field :user_id %>
  <div class="row">
    <div class="col-md-4">
      <%= f.input :date, as: :date_picker %>
    </div>
  </div>
  <%= f.label :frequenter %><br>
  <%= f.collection_radio_buttons :frequenter, [[true, 'Si'] ,[false, 'No']], :first, :last, item_wrapper_class: 'radio-inline' %>
  <%= f.input :beers, as: :rating %>
  <%= f.input :food, as: :rating %>
  <%= f.input :value, as: :rating %>
  <%= f.input :atmosphere, as: :rating %>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :description, as: :text, input_html: {rows: "12", class: "input-xxlarge"}, placeholder: 'Minimo 100 caratteri' %>
    </div>
  </div>
  <%= f.input :rating, as: :rating %>
  <%= f.submit t('helpers.links.save'), class: 'btn btn-primary' %>
<% end %>

<% if @review.date.nil? %>
  <%= javascript_tag do %>
    $('#review_date_1i').val('<%= DateTime.now.year %>');
    $('#review_date_2i').val('<%= DateTime.now.month %>');
  <% end %>
<% end %>