<%= content_for :title, "Consigli per una recensione efficace" %>
<%= render_breadcrumb('Consigli per una recensione efficace') %>
<h2>Consigli per una recensione efficace</h2>
<p>
  Una recensione efficace permetterà agli altri utenti di farsi un'idea precisa della serata che li attende e aumenterà la vostra credibilità.
</p>
<h3>Quando sei andato l'ultima volta?</h3>
<p>
  Per prima cosa seleziona il giorno in cui sei stato l'ultima volta nel locale. 
  Se sei un frequentatore abituale, clicca su "Si" sotto la scritta "Ci vai abitualmente?"
</p> 
<%= image_tag 'seleziona-data.png' -%>

<h3>Birre</h3>
<p>
  la carta della birre ha una ricca scelta? Sono di qualità? C'è una buona selezione di birre alla spina?
</p>
<%= image_tag 'clic-stelle.png' -%>
<h3>Cucina</h3>
<p>
il menu è ben fornito? I piatti sono gustosi e abbondanti?
Tenete conto, nel giudizio, che si tratta di un posto dove gustare la birra e non un di un ristorante con 3 stelle Michelin.
</p>

<h3>Qualità/Prezzo</h3>
<p>
Il prezzo pagato è commisurato all'offerta?
</p>

<h3>Atmosfera</h3>
<p>
Il locale è confortevole? &Egrave; arredato con gusto? Le luci creano un'atmosfera piacevole? La musica ha un volume adeguato?
</p>

<h3>Contenuto della recensione</h3>
<p>
&Egrave; il racconto della serata che hai passato e quindi non essere troppo sintentico! Noi consigliamo almeno <b>100 caratteri</b>.
Possibilmente usa <b>la prima persona</b> a meno che tu non sia l'onorevole Scilipoti <%= image_tag 'happy.png' -%>
</p>
<p>
Potrebbe esserti di aiuto seguire e sviluppare i seguenti punti descrivendo:
</p>
<ul>
  <li>il locale e l'atmosfera che si respira;</li>
  <li>il menu e la carta delle birre;</li>
  <li>le birre e le loro caratteristiche gusto-visivo-olfattive;</li>
  <li>le pietanze assaporate;</li>
  <li>infine tira le somme spendendo qualche parola in ordine al rapporto tra la qualità dei cibi e delle bevande gustate e il prezzo corrisposto.</li>
</ul>
<%= image_tag 'contenuto-recensione.png' -%>

<h3>Valore delle stelle</h3>
<p>
  Passando il mouse sopra le stelle, si coloreranno e comparirà il giudizio che esprimono. 
  Clicca sul numero di stelle che meglio rappresentano il tuo giudizio. 
</p>
<ul>
<li>1 stella: SCARSO</li>
<li>2 stelle: SUFFICIENTE</li> 
<li>3 stelle: DISCRETO</li>
<li>4 stelle: BUONO</li>
<li>5 stelle: OTTIMO</li>
</ul>
<p>
  Il ricorso alle stelle costituisce uno strumento di giudizio efficace ma allo stesso tempo estremamente sintetico, pertanto occorre essere molto precisi nell'attribuire il numero di stelle alla birreria/brewpub.
</p>