<% content_for :title do %>Come scrivere la tua recensione %><% end %>
<%= render_breadcrumb('Come scrivere la tua recensione') %>
<h1>Come scrivere la tua recensione</h1>
<%= render 'shared/review_instructions' %>
<p>Per ulteriori informazioni: <%= link_to 'Consigli per una recensione efficace', review_guide_path -%>.</p>