<%= render_breadcrumb [Breadcrumb.new('Statistiche', admin_statistics_path), Breadcrumb.new('Birre')] %>
<h1><%= Beer.count -%> Birre inserite</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= Beer.human_attribute_name(:name) %></th>
      <th>Birrificio</th>
      <th><%= Beer.human_attribute_name(:alcohol_by_volume) %></th>
      <th><%= Beer.human_attribute_name(:color) %></th>
      <th>Birronauta</th>
      <th>Comandi</th>
    </tr>
  </thead>
  <tbody>
    <% @beers.each do |beer| %>
      <tr>
        <td><%= link_to beer.name, beer_path(beer) %></td>
        <td><%= link_to beer.pub.name, pub_path(beer.pub) %></td>
        <td><%= beer.alcohol_by_volume %></td>
        <td><%= beer.color %></td>
        <td><%= link_to beer.user.username, user_path(beer.user) %></td>
        <td><%= link_to t("helpers.links.destroy"), 
                  admin_beer_path(beer), 
                  method: :delete, 
                  data: { confirm: t("helpers.links.confirm")}, 
                  class: 'btn btn-mini btn-warning' -%>
            <%= link_to t("helpers.links.edit"),
                edit_admin_beer_path(beer),
                class: 'btn btn-mini' -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @beers, :renderer => BootstrapPagination::Rails %>
