<h1>Modifica posizione <%= @pub.name %></h1>
<%= simple_form_for(@pub, url: admin_pub_path) do |f| %>
  <%= render 'shared/error_messages', f: f %>
  <%= f.input :latitude %>
  <%= f.input :longitude %>
  <%= f.submit t('helpers.links.save'), class: 'btn btn-primary' %>
<% end %>
