<%- model_class = Pub.new.class -%>
<%= render_breadcrumb [Breadcrumb.new('Statistiche', admin_statistics_path), Breadcrumb.new('Birrerie')] %>
<h1><%= model_class.count -%> Birrerie inserite <%= PubQuery.new.to_approve_count -%> da approvare</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:address) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th>Birronauta</th>
      <th>Comandi</th>
    </tr>
  </thead>
  <tbody>
    <% @pubs.each do |pub| %>
      <tr>
        <td><%= link_to pub.name, pub_path(pub) %></td>
        <td><%= pub.full_address %></td>
        <td><%= pub.email %></td>
        <td><%= link_to pub.user.username, user_path(pub.user) %></td>
        <td>
          <%= link_to t("helpers.links.destroy"), 
                  admin_pub_path(pub), 
                  method: :delete, 
                  data: { confirm: t("helpers.links.confirm")}, 
                  class: 'btn btn-mini btn-warning' -%>
        </td>
        <td>
          <%= link_to t("helpers.links.edit"),
                edit_admin_pub_path(pub),
                class: 'btn btn-mini' -%>
        </td>
        <td>
          <%= link_to(t("helpers.links.approve"), 
                  approve_admin_pub_path(pub), 
                  method: :post, 
                  data: { confirm: t("helpers.links.confirm")}, 
                  class: 'btn btn-mini btn-primary') unless pub.approved? -%> 
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to t("helpers.links.new"), new_admin_pub_path, :class => 'btn btn-primary' %>
<%= will_paginate @pubs, :renderer => BootstrapPagination::Rails %>
