<%= render_breadcrumb [Breadcrumb.new("Birrerie", admin_pubs_path), Breadcrumb.new(@pub.name, pub_path(@pub)), Breadcrumb.new("Pannello di controllo")] %>
<h1>Pannello di controllo <%= @pub.name -%></h1>
<p><%= format_location(@pub) %></p>
<div class="row">
  <div class="col-md-3">
    <div class="pub-owner">
        <p>
          <%= link_to "Modifica dati #{@pub.pub_type}", edit_admin_pub_path(@pub), class: "btn btn-danger" %>
        </p>
        <p>
        <%= link_to(t("helpers.links.approve"), 
                approve_admin_pub_path(@pub), 
                method: :post, 
                data: { confirm: t("helpers.links.confirm")}, 
                class: 'btn btn-mini btn-primary') unless @pub.approved? %> 
        </p>
        <p>
          <%= link_to("Modifica posizione", edit_location_admin_pub_path(@pub), class: 'btn') %>   
        </p>
    </div>
  </div>
  <div class="col-md-9">
    <h2>Birre</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= Beer.human_attribute_name(:name) %></th>
          <th><%= Beer.human_attribute_name(:alcohol_by_volume) %></th>
          <th><%= Beer.human_attribute_name(:color) %></th>
          <th>Comandi</th>
        </tr>
      </thead>
      <tbody>
      <% @pub.beers.each do |beer| %>
        <tr>
          <td><%= link_to beer.name, beer_path(beer) -%></td>
          <td><%= beer.alcohol_by_volume -%></td>
          <td><%= beer.color -%></td>
          <td><%= link_to t("helpers.links.destroy"), 
                    admin_beer_path(beer), 
                    method: :delete, 
                    data: { confirm: t("helpers.links.confirm")}, 
                    class: 'btn btn-mini btn-warning' %>
              <%= link_to t("helpers.links.edit"),
                  edit_admin_beer_path(beer),
                  class: 'btn btn-mini' %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>