<%= link_to_pubs_in("Milano") %>
<%= link_to_pubs_in("Roma") %>
<%= link_to_pubs_in("Torino") %>
<%= link_to_pubs_in("Genova") %>
<%= link_to_pubs_in("Trieste") %>
<%= link_to_pubs_in("Venezia") %>
<%= link_to_pubs_in("Napoli") %>
<%= link_to_pubs_in("Bari") %>
<%= link_to_pubs_in("Cuneo") %>
<%= link_to_pubs_in("Vicenza") %>
<%= link_to_pubs_in("Bologna") %>
<%= link_to_pubs_in("Bergamo") %>
<%= link_to_pubs_in("Firenze") %>
<%= link_to_pubs_in("Brescia") %>
<%= link_to_pubs_in("Udine") %>
<%= link_to_pubs_in("Treviso") %>
<%= link_to_pubs_in("Modena") %>
<%= link_to_pubs_in("Trento") %>
<%= link_to_pubs_in("Salerno") %>
<%= link_to_pubs_in("Alessandria") %>
<%= link_to_pubs_in("Palermo") %>
<%= link_to_pubs_in("Parma") %>
<%= link_to_pubs_in("Pavia") %>
<%= link_to_pubs_in("Cagliari") %>
<%= link_to_pubs_in("Ancona") %>
<%= link_to_pubs_in("Perugia") %>
<br><br>
<%= link_to "Vedi tutte le province", provinces_pubs_path %>
