<hr>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h4>Informazioni</h4>
        <ul class="list-unstyled">
          <li><%= link_to 'Chi siamo', who_we_are_informations_path %></li>
          <li><%= link_to 'Dichiarazione sulla privacy', privacy_informations_path %></li>
          <li>&nbsp;</li>
          <li><%= link_to 'Contattaci', new_contact_us_path %></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h4>Servizi</h4>
        <ul class="list-unstyled">
          <li><%= link_to 'Iscriviti', new_user_registration_path %></li>
          <li><%= link_to 'Segnala un locale', new_pub_path %></li>
          <li><%= link_to "Segnala evento", select_type_events_path %></li>
          <li><%= link_to 'Scrivi una recensione', select_for_review_pubs_path %></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h4>Birrerie Pub e Brewpub</h4>
        <%= render partial: "layouts/cities" %>
      </div>
      <div class="col-md-3">
        <h4>Microbirrifici</h4>
        <%= render partial: "layouts/regions" %>
      </div>
    </div>
    <p>
      Seguici su: 
      <%= link_to(facebook_path, target: "_blank") do %>
        <%= image_tag 'facebook.png' %>
      <% end %>
      <%= link_to(twitter_path, target: "_blank") do %>
        <%= image_tag 'twitter.png' %>
      <% end %>
      <span class='pull-right'>
        &copy; <%= t('site_name') %> 2013 - <%= Time.now.year %> - Antonio Ganci
      </span>
    </p>
  </div>
</footer>

