<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to(root_path, class: 'navbar-brand') do %>
        <%= image_tag 'logo.png', alt: t('site_name') %>
      <% end %>
    </div>

    
    <div class="collapse navbar-collapse" id="navbar-collapse">        
      <ul class="nav navbar-nav">
        <li><%= link_to "Intorno a Te", nearby_pubs_path %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Birrerie & Pub 
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to 'Birrerie & Pub', pubs_path %></li>
            <li><%= link_to t('helpers.links.microbreweries'), microbreweries_path %></li>
            <li><%= link_to 'Brewpub', brewpub_path %></li>
            <li><%= link_to 'Birre', beers_path %></li>
            <li class="divider"></li>
            <li><%= link_to 'Segnala un locale', new_pub_path %></li>
            <li><%= link_to "Segnala evento", select_type_events_path %></li>
            <li><%= link_to 'Scrivi una recensione', select_for_review_pubs_path %></li>
          </ul>
        </li>
        <li><%= link_to 'Eventi', events_path %></li>
        <li><%= link_to "Birronauti", users_path %></li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <% if signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <div class="navbar-avatar">
                <%= UserPresenter.new(current_user, self).photo_tag %> 
              </div>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to t('helpers.links.user_profile'), user_path(current_user) %></li>
              <li><%= link_to t('helpers.links.achievements'), achievements_path %></li>
              <li><%= link_to t('helpers.links.logout'), destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> Accedi <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to t('helpers.links.login'), new_user_session_path %></li>
              <li><%= link_to t('helpers.links.sign_up'), new_user_registration_path %></li>
              <li>
                  <%= link_to(user_omniauth_authorize_path(:facebook)) do %>
                    <%= image_tag 'facebook.png', alt: t('helpers.links.sing_up_with_facebook'), title: t('helpers.links.sing_up_with_facebook') %>
                    <%= t('helpers.links.sing_up_with_facebook') %>
                  <% end %>
              </li>
            </ul>
          </li>
        <% end %>
      </ul>
      <%= render partial: 'layouts/search_form' %>

    </div>
  </div>
</div>

