<meta property="fb:app_id" content="<%= Rails.application.config.facebook_app_id %>">
<meta property="og:type" content="website">
<meta property="og:title" content="<%= og_title %>">
<meta property="og:image" content="<%= (yield :image_url).empty? ? "http://www.beerky.it/assets/facebook-logo.png" : (yield :image_url) %>">
