<%= link_to_microbreweries_in "Valle d'Aosta" %>
<%= link_to_microbreweries_in "Piemonte" %>
<%= link_to_microbreweries_in "Lombardia" %>
<%= link_to_microbreweries_in "Veneto" %>
<%= link_to_microbreweries_in "Trentino-Alto Adige" %>
<%= link_to_microbreweries_in "Friuli-Venezia Giulia" %>
<%= link_to_microbreweries_in "Liguria" %>
<%= link_to_microbreweries_in "Emilia-Romagna" %>
<%= link_to_microbreweries_in "Toscana" %>
<%= link_to_microbreweries_in "Umbria" %>
<%= link_to_microbreweries_in "Marche" %>
<%= link_to_microbreweries_in "Lazio" %>
<%= link_to_microbreweries_in "Abruzzo" %>
<%= link_to_microbreweries_in "Molise" %>
<%= link_to_microbreweries_in "Campania" %>
<%= link_to_microbreweries_in "Basilicata" %>
<%= link_to_microbreweries_in "Puglia" %>
<%= link_to_microbreweries_in "Calabria" %>
<%= link_to_microbreweries_in "Sicilia" %>
<%= link_to_microbreweries_in "Sardegna" %>
