<% text_param = params[:text] if params[:text].present? %>
<%= form_tag(search_path, method: 'get',  class: 'navbar-form navbar-right', autocomplete: 'off', role: 'search') do |f| %>
  <div class="form-group">
    <%= text_field_tag "small_search_text", text_param, class: 'form-control', autocomplete: 'off', name: 'text', 
      placeholder: 'Scrivi la Città' %>
  </div>
  <button type="submit" class="btn btn-primary" id="search_button">
    <span class="glyphicon glyphicon-search"></span>
  </button>
<% end %>

<script type="text/javascript">
  <%= autocomplete_search_text('#small_search_text') %>
</script>
