<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% if content_for?(:meta_description) %>
      <meta name="description" content="<%= yield :meta_description %>">
    <% end %>
    <% if content_for?(:custom_meta) %>
      <%= yield :custom_meta %>
    <% end %>
    <%= render 'layouts/open_graph_meta' %>
    <title><%= page_title %></title>
    <%= render 'layouts/shim' %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <link href="/favicon.ico" rel="shortcut icon">
    <%= render 'shared/analytics' if Rails.env.production? %>
    <%= javascript_include_tag "application" %>
    <%= yield :dynamic_javascripts %>
    <%= render 'shared/cookie_banner' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="sign-up">
      <%= link_to 'Contattaci', new_contact_us_path %>
    </div>
    <%= javascript_tag do %>
      handle_sign_up_link();
    <% end %>

    <%= render 'layouts/navbar' %>
    <div class="container">
      <%= render_where_are_you_question(request) %>
      <%= bootstrap_flash %>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
    <%= render 'shared/remarketing' if Rails.env.production? %>
  </body>
</html>
